N8N_GitHub_Daily_Backup.json
{
  "name": "N8N GitHub Daily Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        240
      ],
      "id": "schedule-trigger-daily",
      "name": "Schedule Daily Backup"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "repo-path",
              "name": "REPO_PATH",
              "value": "/home/user/n8nworkflows",
              "type": "string"
            },
            {
              "id": "git-branch",
              "name": "GIT_BRANCH",
              "value": "claude/n8n-github-daily-backup-016XHDhyEKzieL9eAJE2gguW",
              "type": "string"
            },
            {
              "id": "git-user",
              "name": "GIT_USER_NAME",
              "value": "n8n-backup",
              "type": "string"
            },
            {
              "id": "git-email",
              "name": "GIT_USER_EMAIL",
              "value": "backup@n8n.local",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        240
      ],
      "id": "config-node",
      "name": "Configuration"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "http://localhost:5678/api/v1/workflows",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        240
      ],
      "id": "get-all-workflows",
      "name": "Get All Workflows",
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process all workflows and prepare them for saving\nconst workflows = $input.item.json.data;\nconst timestamp = new Date().toISOString();\nconst outputItems = [];\n\nfor (const workflow of workflows) {\n  // Create a clean workflow object\n  const workflowData = {\n    name: workflow.name,\n    nodes: workflow.nodes,\n    pinData: workflow.pinData || {},\n    connections: workflow.connections,\n    active: workflow.active,\n    settings: workflow.settings,\n    versionId: workflow.versionId,\n    meta: workflow.meta,\n    id: workflow.id,\n    tags: workflow.tags || []\n  };\n  \n  // Create filename from workflow name (sanitized)\n  const sanitizedName = workflow.name\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n  \n  const filename = `workflows/${sanitizedName}-${workflow.id}.json`;\n  \n  outputItems.push({\n    json: {\n      filename: filename,\n      content: JSON.stringify(workflowData, null, 2),\n      workflowName: workflow.name,\n      workflowId: workflow.id,\n      timestamp: timestamp\n    }\n  });\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        240
      ],
      "id": "process-workflows",
      "name": "Process Workflows"
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\n# Get configuration from previous node\nREPO_PATH=\"{{ $('Configuration').item.json.REPO_PATH }}\"\nFILENAME=\"{{ $json.filename }}\"\n\n# Navigate to repository\nif [ ! -d \"$REPO_PATH\" ]; then\n  echo \"Error: Repository path does not exist: $REPO_PATH\"\n  echo \"Please update the REPO_PATH in the Configuration node\"\n  exit 1\nfi\n\ncd \"$REPO_PATH\"\n\n# Create workflows directory if it doesn't exist\nmkdir -p workflows\n\n# Write workflow content to file\ncat > \"$FILENAME\" << 'EOF'\n{{ $json.content }}\nEOF\n\necho \"Saved workflow: $FILENAME\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        240
      ],
      "id": "save-workflow-files",
      "name": "Save Workflow Files"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        940,
        240
      ],
      "id": "aggregate-results",
      "name": "Aggregate All Results"
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\n# Enhanced error handling for n8n backup workflow\n# Prevent hanging by avoiding interactive prompts\nset -e\nset -o pipefail\n\n# Disable git interactive prompts and terminal features\nexport GIT_TERMINAL_PROMPT=0\nexport GIT_ASKPASS=true\nexport GIT_EDITOR=true\n\n# Get configuration from previous node\nREPO_PATH=\"{{ $('Configuration').first().json.REPO_PATH }}\"\nGIT_BRANCH=\"{{ $('Configuration').first().json.GIT_BRANCH }}\"\nGIT_USER_NAME=\"{{ $('Configuration').first().json.GIT_USER_NAME }}\"\nGIT_USER_EMAIL=\"{{ $('Configuration').first().json.GIT_USER_EMAIL }}\"\nTIMESTAMP=\"{{ $('Process Workflows').first().json.timestamp }}\"\nWORKFLOW_COUNT=\"{{ $runIndex + 1 }}\"\n\n# Logging functions (simplified for n8n)\nlog_info() {\n  echo \"[INFO] $1\"\n}\n\nlog_warn() {\n  echo \"[WARN] $1\"\n}\n\nlog_error() {\n  echo \"[ERROR] $1\" >&2\n}\n\nlog_success() {\n  echo \"[SUCCESS] $1\"\n}\n\n# Error handler function\nhandle_error() {\n  local exit_code=$1\n  local error_msg=$2\n  log_error \"$error_msg\"\n  log_error \"Exit code: $exit_code\"\n  exit $exit_code\n}\n\nlog_info \"=== Starting Git Commit and Push ===\"\nlog_info \"Timestamp: $TIMESTAMP\"\n\n# Validate repository path\nlog_info \"Validating repository path: $REPO_PATH\"\nif [ ! -d \"$REPO_PATH\" ]; then\n  handle_error 1 \"Repository path does not exist: $REPO_PATH. Please update REPO_PATH in Configuration node.\"\nfi\n\nif [ ! -d \"$REPO_PATH/.git\" ]; then\n  handle_error 1 \"Directory exists but is not a git repository: $REPO_PATH\"\nfi\n\n# Navigate to repository\ncd \"$REPO_PATH\" || handle_error 1 \"Failed to navigate to repository: $REPO_PATH\"\nlog_info \"Working in repository: $(pwd)\"\n\n# Configure git user (local to repo)\nlog_info \"Configuring git user: $GIT_USER_NAME <$GIT_USER_EMAIL>\"\ngit config user.name \"$GIT_USER_NAME\" 2>/dev/null || log_warn \"Failed to set git user.name\"\ngit config user.email \"$GIT_USER_EMAIL\" 2>/dev/null || log_warn \"Failed to set git user.email\"\n\n# Check current branch\nCURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD 2>/dev/null || echo \"unknown\")\nlog_info \"Current branch: $CURRENT_BRANCH\"\n\nif [ \"$CURRENT_BRANCH\" != \"$GIT_BRANCH\" ]; then\n  log_warn \"Current branch ($CURRENT_BRANCH) differs from target branch ($GIT_BRANCH)\"\n  log_info \"Attempting to switch to branch: $GIT_BRANCH\"\n  \n  if git show-ref --verify --quiet \"refs/heads/$GIT_BRANCH\" 2>/dev/null; then\n    log_info \"Checking out existing branch: $GIT_BRANCH\"\n    git checkout \"$GIT_BRANCH\" 2>&1 || handle_error 1 \"Failed to checkout existing branch: $GIT_BRANCH\"\n  else\n    log_info \"Creating new branch: $GIT_BRANCH\"\n    git checkout -b \"$GIT_BRANCH\" 2>&1 || handle_error 1 \"Failed to create branch: $GIT_BRANCH\"\n  fi\n  \n  CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD)\n  log_info \"Now on branch: $CURRENT_BRANCH\"\nfi\n\n# Check repository status\nlog_info \"Checking git status\"\nGIT_STATUS_OUTPUT=$(git status --porcelain 2>&1) || handle_error 1 \"Git repository is in an invalid state\"\n\n# Check for workflow files\nlog_info \"Checking for workflow files\"\nif ! ls workflows/*.json >/dev/null 2>&1; then\n  handle_error 1 \"No workflow files found in workflows/ directory. Expected files matching: workflows/*.json\"\nfi\n\nWORKFLOW_FILE_COUNT=$(ls workflows/*.json 2>/dev/null | wc -l)\nlog_info \"Found $WORKFLOW_FILE_COUNT workflow file(s)\"\n\n# Add workflow files\nlog_info \"Adding workflow files to git staging area\"\ngit add workflows/*.json 2>&1 || handle_error 1 \"Failed to add workflow files to git\"\n\n# Verify files were staged\nSTAGED_FILES=$(git diff --staged --name-only 2>/dev/null)\nSTAGED_COUNT=$(echo \"$STAGED_FILES\" | grep -c . || echo \"0\")\nlog_info \"Staged $STAGED_COUNT file(s)\"\n\n# Check if there are changes to commit\nif git diff --staged --quiet 2>/dev/null; then\n  log_info \"No changes detected in workflows. Backup is already up to date.\"\n  exit 0\nfi\n\n# Show what will be committed (avoid subshell pipe)\nlog_info \"Files to be committed:\"\nif [ -n \"$STAGED_FILES\" ]; then\n  echo \"$STAGED_FILES\" | head -10 | sed 's/^/[INFO]   - /'\n  if [ $STAGED_COUNT -gt 10 ]; then\n    log_info \"  ... and $((STAGED_COUNT - 10)) more files\"\n  fi\nfi\n\n# Create commit with timeout protection\nCOMMIT_MSG=\"🔄 Backup: ${WORKFLOW_COUNT} workflows - ${TIMESTAMP}\"\nlog_info \"Creating commit: $COMMIT_MSG\"\n\n# Use git commit with explicit flags to prevent hanging\nCOMMIT_OUTPUT=$(timeout 30 git commit --no-verify --no-gpg-sign -m \"$COMMIT_MSG\" 2>&1) || COMMIT_EXIT_CODE=$?\n\nif [ ${COMMIT_EXIT_CODE:-0} -ne 0 ]; then\n  log_error \"Git commit failed with exit code: ${COMMIT_EXIT_CODE}\"\n  log_error \"Commit output: $COMMIT_OUTPUT\"\n  \n  # Check if it's a \"nothing to commit\" situation\n  if echo \"$COMMIT_OUTPUT\" | grep -q \"nothing to commit\\|no changes added\"; then\n    log_info \"No changes to commit (this is OK)\"\n    exit 0\n  fi\n  \n  handle_error ${COMMIT_EXIT_CODE} \"Failed to create git commit. Output: $COMMIT_OUTPUT\"\nfi\n\nCOMMIT_HASH=$(git rev-parse --short HEAD 2>/dev/null || echo \"unknown\")\nlog_success \"Commit created successfully: $COMMIT_HASH\"\n\n# Push to remote with retry logic and exponential backoff\nlog_info \"Pushing to remote: origin/$GIT_BRANCH\"\nMAX_RETRIES=5\nRETRY_COUNT=0\nPUSH_SUCCESS=false\n\nwhile [ $RETRY_COUNT -lt $MAX_RETRIES ]; do\n  RETRY_COUNT=$((RETRY_COUNT + 1))\n  log_info \"Push attempt $RETRY_COUNT of $MAX_RETRIES\"\n  \n  # Use timeout to prevent hanging on push\n  set +e\n  PUSH_OUTPUT=$(timeout 120 git push -u origin \"$GIT_BRANCH\" 2>&1)\n  PUSH_EXIT_CODE=$?\n  set -e\n  \n  if [ $PUSH_EXIT_CODE -eq 0 ]; then\n    log_success \"Successfully pushed to origin/$GIT_BRANCH\"\n    PUSH_SUCCESS=true\n    break\n  elif [ $PUSH_EXIT_CODE -eq 124 ]; then\n    log_error \"Push timed out after 120 seconds\"\n    PUSH_OUTPUT=\"Push operation timed out\"\n  else\n    log_warn \"Push attempt $RETRY_COUNT failed with exit code: $PUSH_EXIT_CODE\"\n  fi\n  \n  # Analyze the error output for common issues\n  if echo \"$PUSH_OUTPUT\" | grep -qi \"authentication failed\"; then\n    handle_error 1 \"Authentication failed. Check git credentials. Error: $PUSH_OUTPUT\"\n  elif echo \"$PUSH_OUTPUT\" | grep -qi \"permission denied\"; then\n    handle_error 1 \"Permission denied. Verify SSH keys or access tokens. Error: $PUSH_OUTPUT\"\n  elif echo \"$PUSH_OUTPUT\" | grep -qi \"non-fast-forward\\|rejected\"; then\n    log_error \"Push rejected - remote has changes not present locally\"\n    log_info \"Attempting to fetch and rebase...\"\n    \n    set +e\n    FETCH_OUTPUT=$(timeout 60 git fetch origin \"$GIT_BRANCH\" 2>&1)\n    FETCH_EXIT=$?\n    set -e\n    \n    if [ $FETCH_EXIT -eq 0 ]; then\n      set +e\n      REBASE_OUTPUT=$(timeout 60 git rebase \"origin/$GIT_BRANCH\" 2>&1)\n      REBASE_EXIT=$?\n      set -e\n      \n      if [ $REBASE_EXIT -eq 0 ]; then\n        log_info \"Rebase successful, retrying push\"\n        continue\n      else\n        log_error \"Rebase failed: $REBASE_OUTPUT\"\n        git rebase --abort 2>/dev/null || true\n        handle_error 1 \"Cannot push: remote has diverged and automatic rebase failed. Manual merge required.\"\n      fi\n    else\n      log_warn \"Fetch failed: $FETCH_OUTPUT\"\n    fi\n  elif echo \"$PUSH_OUTPUT\" | grep -qi \"connection.*refused\\|failed to connect\\|could not resolve host\"; then\n    log_warn \"Network connection issue detected\"\n  elif echo \"$PUSH_OUTPUT\" | grep -qi \"timeout\\|timed out\"; then\n    log_warn \"Connection timeout detected\"\n  else\n    log_warn \"Push failed: $PUSH_OUTPUT\"\n  fi\n  \n  # If not the last retry, wait with exponential backoff\n  if [ $RETRY_COUNT -lt $MAX_RETRIES ]; then\n    WAIT_TIME=$((2 ** RETRY_COUNT))\n    log_info \"Waiting ${WAIT_TIME} seconds before retry...\"\n    sleep $WAIT_TIME\n  fi\ndone\n\n# Final status check\nif [ \"$PUSH_SUCCESS\" = true ]; then\n  log_success \"=== Backup completed successfully! ===\"\n  log_info \"Branch: $GIT_BRANCH\"\n  log_info \"Commit: $COMMIT_HASH\"\n  log_info \"Workflows backed up: $WORKFLOW_COUNT\"\n  exit 0\nelse\n  log_error \"=== Backup failed ===\"\n  log_error \"Failed to push after $MAX_RETRIES attempts\"\n  log_error \"Last error: $PUSH_OUTPUT\"\n  log_info \"Commit was created locally (hash: $COMMIT_HASH) but not pushed to remote\"\n  log_info \"Manual push command: cd $REPO_PATH && git push -u origin $GIT_BRANCH\"\n  handle_error 1 \"Push operation failed after all retry attempts\"\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1180,
        240
      ],
      "id": "git-commit-push",
      "name": "Git Commit and Push"
    },
    {
      "parameters": {
        "jsCode": "// Create summary of backup operation\nconst items = $input.all();\nconst timestamp = items[0].json.timestamp;\nconst workflowCount = items.length;\n\nconst workflowList = items.map(item => \n  `- ${item.json.workflowName} (${item.json.workflowId})`\n).join('\\n');\n\nreturn {\n  json: {\n    success: true,\n    timestamp: timestamp,\n    workflowCount: workflowCount,\n    message: `Successfully backed up ${workflowCount} workflow(s) to GitHub`,\n    workflows: workflowList\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        240
      ],
      "id": "create-summary",
      "name": "Create Backup Summary"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Daily Backup": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Process Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Workflows": {
      "main": [
        [
          {
            "node": "Save Workflow Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Workflow Files": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Results": {
      "main": [
        [
          {
            "node": "Git Commit and Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Commit and Push": {
      "main": [
        [
          {
            "node": "Create Backup Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "n8n-github-backup"
  },
  "id": "github-daily-backup",
  "tags": [
    {
      "name": "backup",
      "id": "backup-tag"
    },
    {
      "name": "github",
      "id": "github-tag"
    }
  ]
}
