N8N_GitHub_Daily_Backup.json
{
  "name": "N8N GitHub Daily Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        240
      ],
      "id": "schedule-trigger-daily",
      "name": "Schedule Daily Backup"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "repo-path",
              "name": "REPO_PATH",
              "value": "/home/user/n8nworkflows",
              "type": "string"
            },
            {
              "id": "git-branch",
              "name": "GIT_BRANCH",
              "value": "claude/n8n-github-daily-backup-016XHDhyEKzieL9eAJE2gguW",
              "type": "string"
            },
            {
              "id": "git-user",
              "name": "GIT_USER_NAME",
              "value": "n8n-backup",
              "type": "string"
            },
            {
              "id": "git-email",
              "name": "GIT_USER_EMAIL",
              "value": "backup@n8n.local",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        240
      ],
      "id": "config-node",
      "name": "Configuration"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "http://localhost:5678/api/v1/workflows",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        240
      ],
      "id": "get-all-workflows",
      "name": "Get All Workflows",
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process all workflows and prepare them for saving\nconst workflows = $input.item.json.data;\nconst timestamp = new Date().toISOString();\nconst outputItems = [];\n\nfor (const workflow of workflows) {\n  // Create a clean workflow object\n  const workflowData = {\n    name: workflow.name,\n    nodes: workflow.nodes,\n    pinData: workflow.pinData || {},\n    connections: workflow.connections,\n    active: workflow.active,\n    settings: workflow.settings,\n    versionId: workflow.versionId,\n    meta: workflow.meta,\n    id: workflow.id,\n    tags: workflow.tags || []\n  };\n  \n  // Create filename from workflow name (sanitized)\n  const sanitizedName = workflow.name\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n  \n  const filename = `workflows/${sanitizedName}-${workflow.id}.json`;\n  \n  outputItems.push({\n    json: {\n      filename: filename,\n      content: JSON.stringify(workflowData, null, 2),\n      workflowName: workflow.name,\n      workflowId: workflow.id,\n      timestamp: timestamp\n    }\n  });\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        240
      ],
      "id": "process-workflows",
      "name": "Process Workflows"
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\n# Get configuration from previous node\nREPO_PATH=\"{{ $('Configuration').item.json.REPO_PATH }}\"\nFILENAME=\"{{ $json.filename }}\"\n\n# Navigate to repository\nif [ ! -d \"$REPO_PATH\" ]; then\n  echo \"Error: Repository path does not exist: $REPO_PATH\"\n  echo \"Please update the REPO_PATH in the Configuration node\"\n  exit 1\nfi\n\ncd \"$REPO_PATH\"\n\n# Create workflows directory if it doesn't exist\nmkdir -p workflows\n\n# Write workflow content to file\ncat > \"$FILENAME\" << 'EOF'\n{{ $json.content }}\nEOF\n\necho \"Saved workflow: $FILENAME\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        240
      ],
      "id": "save-workflow-files",
      "name": "Save Workflow Files"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        940,
        240
      ],
      "id": "aggregate-results",
      "name": "Aggregate All Results"
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\n# Enhanced error handling for n8n backup workflow\n# Exit on error, but handle errors explicitly for better control\nset -e\nset -o pipefail\n\n# Color codes for output (if terminal supports it)\nRED='\\033[0;31m'\nGREEN='\\033[0;32m'\nYELLOW='\\033[1;33m'\nNC='\\033[0m' # No Color\n\n# Get configuration from previous node\nREPO_PATH=\"{{ $('Configuration').item.json.REPO_PATH }}\"\nGIT_BRANCH=\"{{ $('Configuration').item.json.GIT_BRANCH }}\"\nGIT_USER_NAME=\"{{ $('Configuration').item.json.GIT_USER_NAME }}\"\nGIT_USER_EMAIL=\"{{ $('Configuration').item.json.GIT_USER_EMAIL }}\"\nTIMESTAMP=\"{{ $('Process Workflows').item.json.timestamp }}\"\nWORKFLOW_COUNT=\"{{ $runIndex + 1 }}\"\n\n# Logging functions\nlog_info() {\n  echo \"[INFO] $1\"\n}\n\nlog_warn() {\n  echo \"${YELLOW}[WARN] $1${NC}\"\n}\n\nlog_error() {\n  echo \"${RED}[ERROR] $1${NC}\" >&2\n}\n\nlog_success() {\n  echo \"${GREEN}[SUCCESS] $1${NC}\"\n}\n\n# Error handler function\nhandle_error() {\n  local exit_code=$1\n  local error_msg=$2\n  log_error \"$error_msg\"\n  log_error \"Exit code: $exit_code\"\n  exit $exit_code\n}\n\n# Validate repository path\nlog_info \"Validating repository path: $REPO_PATH\"\nif [ ! -d \"$REPO_PATH\" ]; then\n  handle_error 1 \"Repository path does not exist: $REPO_PATH. Please update REPO_PATH in Configuration node.\"\nfi\n\nif [ ! -d \"$REPO_PATH/.git\" ]; then\n  handle_error 1 \"Directory exists but is not a git repository: $REPO_PATH\"\nfi\n\n# Navigate to repository\ncd \"$REPO_PATH\" || handle_error 1 \"Failed to navigate to repository: $REPO_PATH\"\nlog_info \"Working in repository: $(pwd)\"\n\n# Configure git user\nlog_info \"Configuring git user: $GIT_USER_NAME <$GIT_USER_EMAIL>\"\nif ! git config user.name \"$GIT_USER_NAME\" 2>/dev/null; then\n  log_warn \"Failed to set git user.name, continuing anyway\"\nfi\nif ! git config user.email \"$GIT_USER_EMAIL\" 2>/dev/null; then\n  log_warn \"Failed to set git user.email, continuing anyway\"\nfi\n\n# Check if we're on the correct branch\nCURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD 2>/dev/null || echo \"unknown\")\nlog_info \"Current branch: $CURRENT_BRANCH\"\nif [ \"$CURRENT_BRANCH\" != \"$GIT_BRANCH\" ]; then\n  log_warn \"Current branch ($CURRENT_BRANCH) differs from target branch ($GIT_BRANCH)\"\n  \n  # Try to checkout or create the branch\n  log_info \"Attempting to switch to branch: $GIT_BRANCH\"\n  if git show-ref --verify --quiet \"refs/heads/$GIT_BRANCH\"; then\n    git checkout \"$GIT_BRANCH\" || handle_error 1 \"Failed to checkout existing branch: $GIT_BRANCH\"\n  else\n    log_info \"Branch does not exist locally, creating: $GIT_BRANCH\"\n    git checkout -b \"$GIT_BRANCH\" || handle_error 1 \"Failed to create branch: $GIT_BRANCH\"\n  fi\nfi\n\n# Check repository status\nlog_info \"Checking git status\"\nif ! git status >/dev/null 2>&1; then\n  handle_error 1 \"Git repository is in an invalid state. Run 'git status' manually to diagnose.\"\nfi\n\n# Check for workflow files\nlog_info \"Checking for workflow files\"\nif ! ls workflows/*.json 1> /dev/null 2>&1; then\n  handle_error 1 \"No workflow files found in workflows/ directory. Expected files matching: workflows/*.json\"\nfi\n\n# Add workflow files\nlog_info \"Adding workflow files to git staging area\"\nif ! git add workflows/*.json 2>/dev/null; then\n  handle_error 1 \"Failed to add workflow files to git. Check file permissions and git status.\"\nfi\n\n# Verify files were staged\nSTAGED_COUNT=$(git diff --staged --name-only | wc -l)\nlog_info \"Staged $STAGED_COUNT file(s)\"\n\n# Check if there are changes to commit\nif git diff --staged --quiet; then\n  log_info \"No changes detected in workflows. Backup is already up to date.\"\n  exit 0\nfi\n\n# Show what will be committed\nlog_info \"Files to be committed:\"\ngit diff --staged --name-only | while read -r file; do\n  log_info \"  - $file\"\ndone\n\n# Create commit\nCOMMIT_MSG=\"🔄 Backup: ${WORKFLOW_COUNT} workflows - ${TIMESTAMP}\"\nlog_info \"Creating commit: $COMMIT_MSG\"\n\nif ! git commit -m \"$COMMIT_MSG\" 2>&1; then\n  COMMIT_EXIT_CODE=$?\n  log_error \"Git commit failed with exit code: $COMMIT_EXIT_CODE\"\n  \n  # Check for common commit issues\n  if git diff --staged --quiet; then\n    log_error \"No changes staged for commit. This shouldn't happen.\"\n  fi\n  \n  # Show recent git log for context\n  log_info \"Recent commits:\"\n  git log --oneline -3 2>/dev/null || true\n  \n  handle_error $COMMIT_EXIT_CODE \"Failed to create git commit. Check git configuration and repository state.\"\nfi\n\nCOMMIT_HASH=$(git rev-parse --short HEAD)\nlog_success \"Commit created successfully: $COMMIT_HASH\"\n\n# Push to remote with retry logic and exponential backoff\nlog_info \"Pushing to remote: origin/$GIT_BRANCH\"\nMAX_RETRIES=5\nRETRY_COUNT=0\nPUSH_SUCCESS=false\n\nwhile [ $RETRY_COUNT -lt $MAX_RETRIES ]; do\n  RETRY_COUNT=$((RETRY_COUNT + 1))\n  log_info \"Push attempt $RETRY_COUNT of $MAX_RETRIES\"\n  \n  # Capture both stdout and stderr\n  PUSH_OUTPUT=$(git push -u origin \"$GIT_BRANCH\" 2>&1) && PUSH_EXIT_CODE=0 || PUSH_EXIT_CODE=$?\n  \n  if [ $PUSH_EXIT_CODE -eq 0 ]; then\n    log_success \"Successfully pushed to origin/$GIT_BRANCH\"\n    PUSH_SUCCESS=true\n    break\n  else\n    log_warn \"Push attempt $RETRY_COUNT failed with exit code: $PUSH_EXIT_CODE\"\n    \n    # Analyze the error output for common issues\n    if echo \"$PUSH_OUTPUT\" | grep -q \"authentication failed\\|Authentication failed\"; then\n      handle_error 1 \"Authentication failed. Check git credentials and remote repository access. Error: $PUSH_OUTPUT\"\n    elif echo \"$PUSH_OUTPUT\" | grep -q \"Permission denied\"; then\n      handle_error 1 \"Permission denied. Verify SSH keys or access tokens. Error: $PUSH_OUTPUT\"\n    elif echo \"$PUSH_OUTPUT\" | grep -q \"non-fast-forward\\|rejected\"; then\n      log_error \"Push rejected - remote has changes not present locally\"\n      log_info \"Attempting to fetch and rebase...\"\n      \n      if git fetch origin \"$GIT_BRANCH\" 2>&1; then\n        if git rebase \"origin/$GIT_BRANCH\" 2>&1; then\n          log_info \"Rebase successful, retrying push\"\n          continue\n        else\n          log_error \"Rebase failed. Manual intervention required.\"\n          git rebase --abort 2>/dev/null || true\n          handle_error 1 \"Cannot push: remote has diverged and automatic rebase failed. Manual merge required.\"\n        fi\n      else\n        log_warn \"Fetch failed, will retry push\"\n      fi\n    elif echo \"$PUSH_OUTPUT\" | grep -q \"Connection.*refused\\|Failed to connect\\|Could not resolve host\"; then\n      log_warn \"Network connection issue detected\"\n    elif echo \"$PUSH_OUTPUT\" | grep -q \"timeout\\|timed out\"; then\n      log_warn \"Connection timeout detected\"\n    else\n      log_warn \"Push failed with unknown error: $PUSH_OUTPUT\"\n    fi\n    \n    # If not the last retry, wait with exponential backoff\n    if [ $RETRY_COUNT -lt $MAX_RETRIES ]; then\n      WAIT_TIME=$((2 ** RETRY_COUNT))\n      log_info \"Waiting ${WAIT_TIME} seconds before retry...\"\n      sleep $WAIT_TIME\n    fi\n  fi\ndone\n\n# Final status check\nif [ \"$PUSH_SUCCESS\" = true ]; then\n  log_success \"Backup completed successfully!\"\n  log_info \"Branch: $GIT_BRANCH\"\n  log_info \"Commit: $COMMIT_HASH\"\n  log_info \"Workflows backed up: $WORKFLOW_COUNT\"\n  exit 0\nelse\n  log_error \"Failed to push after $MAX_RETRIES attempts\"\n  log_error \"Last error output: $PUSH_OUTPUT\"\n  log_info \"Commit was created locally but not pushed to remote\"\n  log_info \"You can manually push later with: git push -u origin $GIT_BRANCH\"\n  handle_error 1 \"Push operation failed after all retry attempts\"\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1180,
        240
      ],
      "id": "git-commit-push",
      "name": "Git Commit and Push"
    },
    {
      "parameters": {
        "jsCode": "// Create summary of backup operation\nconst items = $input.all();\nconst timestamp = items[0].json.timestamp;\nconst workflowCount = items.length;\n\nconst workflowList = items.map(item => \n  `- ${item.json.workflowName} (${item.json.workflowId})`\n).join('\\n');\n\nreturn {\n  json: {\n    success: true,\n    timestamp: timestamp,\n    workflowCount: workflowCount,\n    message: `Successfully backed up ${workflowCount} workflow(s) to GitHub`,\n    workflows: workflowList\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        240
      ],
      "id": "create-summary",
      "name": "Create Backup Summary"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Daily Backup": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Process Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Workflows": {
      "main": [
        [
          {
            "node": "Save Workflow Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Workflow Files": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Results": {
      "main": [
        [
          {
            "node": "Git Commit and Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Commit and Push": {
      "main": [
        [
          {
            "node": "Create Backup Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "n8n-github-backup"
  },
  "id": "github-daily-backup",
  "tags": [
    {
      "name": "backup",
      "id": "backup-tag"
    },
    {
      "name": "github",
      "id": "github-tag"
    }
  ]
}
