workflows/dtx-import-ASuCRojKT2UkXOpa.json
{
  "name": "DTX Import",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3456,
        1016
      ],
      "id": "746365d5-bef0-4e08-b293-c28ff7ef6d6c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "includeEmptyCells": true,
          "sheetName": "DT Recap"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2784,
        1112
      ],
      "id": "fc6f5137-a0fe-4b8b-8c1a-9c46f9dbcd49",
      "name": "Extract dtx",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2560,
        1112
      ],
      "id": "14a2e106-d1e5-4177-869e-7158e570fb29",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1svPiSEnDh_FclOa8prgZciYDiROMg0hP",
            "mode": "list",
            "cachedResultName": "dtx to ymcs ",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1svPiSEnDh_FclOa8prgZciYDiROMg0hP"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3232,
        1016
      ],
      "id": "812f7927-63ce-4847-b326-4c83cb89bf93",
      "name": "📋 Get DTX",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vxCK0uTATXT8s8z2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3008,
        1016
      ],
      "id": "067a9b7b-b890-4dcf-bb74-8546280b0b6a",
      "name": "⬇️ Download DTX",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vxCK0uTATXT8s8z2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraire le JSON de la réponse de l'IA\nconst response = $input.first().json;\nconst content = $input.first().json.content[0].text;\nconst data = JSON.parse(content);\n\n// Préparer les données au format attendu par Convert to File\nconst devices = data.devices.map(device => ({\n  '*MAC': device.MAC,\n  '*Machine ID(Serial Number)': device.MachineID,\n  'Model': device.Model,\n  'Device Name': device.DeviceName,\n  'Site': device.Site,\n  'Unique URL': device.UniqueURL,\n  'User Name': device.UserName,\n  'Password': device.Password,\n  'Description': device.Description,\n  'Account Type': device.AccountType,\n  'Account Info': device.AccountInfo,\n  'Account Line': device.AccountLine\n}));\n\n// Retourner les données formatées\nreturn devices.map(device => ({ json: device }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        992
      ],
      "id": "6aaf8db8-5612-44d5-8c15-145b296b5fae",
      "name": "YMCS Format"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "compression": true,
          "fileName": "=YMCS_import_{{ $(\"Extract Client Name\").first().json.clientName }}.xlsx",
          "headerRow": true,
          "sheetName": "devices_template"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -736,
        992
      ],
      "id": "a06dd76a-7d9f-4934-9b61-f7833ca5d9e9",
      "name": "Convert File & Download"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c3e0bfb4-f260-48bb-87d3-118d49ad26da",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3008,
        1208
      ],
      "id": "687161d3-a4d6-46de-ab58-a6b577844b0e",
      "name": "Webhook",
      "webhookId": "c3e0bfb4-f260-48bb-87d3-118d49ad26da"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        160,
        1280
      ],
      "id": "4fab52ea-43d9-4a1e-8593-3616851bc9ad",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -512,
        1088
      ],
      "id": "7671e34f-e305-4d09-920e-3f45afd1f2d5",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wvtp5SjEVchclKdY",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wvtp5SjEVchclKdY",
          "cachedResultName": "Telegram Notification Service"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        608,
        1280
      ],
      "id": "03c9b73b-f138-4f50-ba7e-85aa7b0dd9f2",
      "name": "Call 'Telegram Notification Service'1"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// GÉNÉRATION BLF DYNAMIQUE\n// Version 1.0\n// ============================================\n\n// Récupérer tous les items de l'agrégation\nconst allItems = $input.all();\n\n// Extraire toutes les extensions avec leurs IDs\nconst extractExtensions = () => {\n  const extensions = [];\n\n  for (const item of allItems) {\n    const data = item.json.data;\n\n    // Ignorer le header (première ligne)\n    if (Array.isArray(data) && data.length > 1) {\n      for (let i = 1; i < data.length; i++) {\n        const row = data[i];\n\n        // Chercher les colonnes Extension et potentiellement ID_3CX\n        // Les noms de colonnes peuvent varier : __EMPTY_1, Extension, etc.\n        let extension = null;\n        let id3cx = null;\n\n        // Essayer différentes clés possibles pour l'extension\n        if (row.__EMPTY_1) extension = row.__EMPTY_1;\n        else if (row.Extension) extension = row.Extension;\n        else if (row.extension) extension = row.extension;\n\n        // Si pas d'extension, ignorer cette ligne\n        if (!extension || extension === '' || String(extension).startsWith('*')) {\n          continue;\n        }\n\n        // Chercher l'ID 3CX (si disponible)\n        if (row.ID_3CX) id3cx = row.ID_3CX;\n        else if (row.id_3cx) id3cx = row.id_3cx;\n\n        // Si pas d'ID 3CX, utiliser le numéro d'extension\n        if (!id3cx) id3cx = extension;\n\n        extensions.push({\n          numero: String(extension).trim(),\n          id3cx: String(id3cx).trim()\n        });\n      }\n    }\n  }\n\n  return extensions;\n};\n\n// Extraire les extensions\nconst allExtensions = extractExtensions();\n\n// Dédupliquer par numéro d'extension\nconst uniqueExtensions = [];\nconst seen = new Set();\n\nfor (const ext of allExtensions) {\n  if (!seen.has(ext.numero)) {\n    seen.add(ext.numero);\n    uniqueExtensions.push(ext);\n  }\n}\n\n// Trier par numéro (ordre croissant)\nuniqueExtensions.sort((a, b) => {\n  const numA = parseInt(a.numero) || 0;\n  const numB = parseInt(b.numero) || 0;\n  return numA - numB;\n});\n\n// Limiter à 18 BLF maximum\nconst blfExtensions = uniqueExtensions.slice(0, 18);\n\n// Générer le XML BLF\nlet blfXml = '<PhoneDevice><BLFS>';\n\nfor (let i = 0; i < blfExtensions.length; i++) {\n  const ext = blfExtensions[i];\n  const blfNo = i + 1;\n\n  blfXml += `<BLF BLFNo=\"${blfNo}\" BLFType=\"BLF\" BLFTypeID=\"0\" ID=\"${ext.id3cx}\">${ext.numero}</BLF>`;\n}\n\nblfXml += '</BLFS></PhoneDevice>';\n\n// Log pour debug\nconsole.log(`BLF généré avec ${blfExtensions.length} extensions`);\nconsole.log(`Échantillon : ${blfExtensions.slice(0, 3).map(e => e.numero).join(', ')}...`);\n\n// Retourner tous les items avec le BLF XML ajouté\nreturn allItems.map(item => ({\n  json: {\n    ...item.json,\n    blfXmlGenerated: blfXml\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        1088
      ],
      "id": "e2a3a9f3-6f09-4171-ba1d-ae90ed041c4a",
      "name": "Generate BLF XML"
    },
    {
      "parameters": {
        "options": {
          "fileName": "=3CX_import_{{ $('Extract Client Name').item.json.clientName }}.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -736,
        1184
      ],
      "id": "9864d4f9-171b-4913-98c7-c09b85fb3bc2",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "## 📥 RÉCEPTION DU FICHIER DTX\n\n**Sources** :\n- Google Drive (mode manuel/test)\n- Webhook HTTP (mode production)\n\n**Format** : Fichier Excel (.xlsx)\n\n**Extraction** : Conversion Excel → JSON avec toutes les feuilles\n",
        "height": 560,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3536,
        808
      ],
      "id": "3897658d-7f5b-47e4-985c-caccb9cbbaa4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🤖 GÉNÉRATION BLF + FICHIERS D'IMPORT\n\n**Étape 1 - Generate BLF XML** :\n- Extrait toutes les extensions du DTX\n- Génère XML BLF dynamique (max 18 extensions)\n- Stocke dans `blfXmlGenerated`\n\n**Étape 2 - Fichier YMCS** :\n- IA génère JSON structuré\n- Format YMCS pour gestion téléphones\n- Conversion → Excel (.xlsx)\n\n**Étape 3 - Fichier 3CX** :\n- IA génère 13 colonnes variables (Number, FirstName, MAC, etc.)\n- Parse CSV → JSON\n- Add Constant Columns ajoute 42 colonnes + BLF + PhoneSettings\n- Total : 55 colonnes",
        "height": 832,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1792,
        512
      ],
      "id": "70cc28b8-dfa7-4c30-92dc-c1c0a5cbe570",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Récupération brute de la réponse IA (gestion multi-formats)\nconst response = $input.first().json.content[0].text;\n\n// Essayer différents formats possibles de sortie OpenAI\nlet csvContent = '';\n\nif (response.message && response.message.content) {\n  csvContent = response.message.content.trim();\n} else if (response.content) {\n  csvContent = response.content.trim();\n} else if (response.output) {\n  csvContent = response.output.trim();\n} else if (response.text) {\n  csvContent = response.text.trim();\n} else if (typeof response === 'string') {\n  csvContent = response.trim();\n} else {\n  csvContent = JSON.stringify(response);\n}\n\n// Fonction de parsing CSV robuste (gère les guillemets et décalages)\nfunction parseCSV(data) {\n  const lines = data.split('\\n').filter(line => {\n    const trimmed = line.trim();\n    // Filtrer les lignes vides et les commentaires\n    return trimmed && !trimmed.startsWith('#') && !trimmed.startsWith('//');\n  });\n\n  if (lines.length === 0) return [];\n\n  // Parser les headers\n  const headers = [];\n  let current = '';\n  let insideQuotes = false;\n  const headerLine = lines[0];\n\n  for (let i = 0; i < headerLine.length; i++) {\n    const char = headerLine[i];\n    const nextChar = headerLine[i + 1];\n\n    if (char === '\"') {\n      if (insideQuotes && nextChar === '\"') {\n        current += '\"';\n        i++;\n      } else {\n        insideQuotes = !insideQuotes;\n      }\n    } else if (char === ',' && !insideQuotes) {\n      headers.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n  headers.push(current.trim());\n\n  const expectedColumns = headers.length;\n  console.log(`CSV Headers: ${expectedColumns} colonnes attendues`);\n\n  // Parser les lignes de données\n  const rows = [];\n  for (let lineIdx = 1; lineIdx < lines.length; lineIdx++) {\n    const line = lines[lineIdx];\n    const row = [];\n    current = '';\n    insideQuotes = false;\n\n    for (let charIndex = 0; charIndex < line.length; charIndex++) {\n      const char = line[charIndex];\n      const nextChar = line[charIndex + 1];\n\n      if (char === '\"') {\n        if (insideQuotes && nextChar === '\"') {\n          current += '\"';\n          charIndex++;\n        } else {\n          insideQuotes = !insideQuotes;\n        }\n      } else if (char === ',' && !insideQuotes) {\n        row.push(current.trim());\n        current = '';\n      } else {\n        current += char;\n      }\n    }\n    row.push(current.trim());\n\n    // Vérifier que le nombre de colonnes correspond\n    if (row.length !== expectedColumns) {\n      console.warn(`Ligne ${lineIdx + 1}: ${row.length} colonnes au lieu de ${expectedColumns} - IGNORÉE`);\n      console.warn(`Début de ligne: ${line.substring(0, 100)}`);\n      continue; // Ignorer les lignes mal formatées\n    }\n\n    rows.push(row);\n  }\n\n  // Convertir en objets\n  return rows.map(cols => {\n    const obj = {};\n    headers.forEach((header, idx) => {\n      obj[header] = cols[idx] || '';\n    });\n    return obj;\n  });\n}\n\nconst parsed = parseCSV(csvContent);\n\nconsole.log(`✅ ${parsed.length} lignes parsées avec succès`);\n\n// Retourner chaque ligne formatée\nreturn parsed.map(row => ({ json: row }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        1184
      ],
      "id": "e60759b1-ead0-4260-af48-3e441ce369c9",
      "name": "3CX Format"
    },
    {
      "parameters": {
        "jsCode": "// Préparer la réponse JSON avec les 2 fichiers en base64\nconst csv_3cx = items.find(item => item.binary?.data?.fileName?.includes('3cx'));\nconst xlsx_ymcs = items.find(item => item.binary?.data?.fileName?.includes('ymcs'));\n\nreturn [{\n  json: {\n    success: true,\n    files: {\n      csv_3cx: {\n        filename: csv_3cx?.binary?.data?.fileName || '3cx_import.csv',\n        data: csv_3cx?.binary?.data?.data?.toString('base64') || ''\n      },\n      xlsx_ymcs: {\n        filename: xlsx_ymcs?.binary?.data?.fileName || 'import_ymcs.xlsx',\n        data: xlsx_ymcs?.binary?.data?.data?.toString('base64') || ''\n      }\n    },\n    message: 'Files processed successfully',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        1280
      ],
      "id": "85fad3fa-ae2e-4158-a923-def4f904e922",
      "name": "Files to bas64"
    },
    {
      "parameters": {
        "content": "## 📤 ENVOI DES FICHIERS\n\n**Conversion Base64** :\n- CSV 3CX → Base64\n- Excel YMCS → Base64\n\n**Réponse Webhook** :\n- JSON avec 2 fichiers encodés\n- Timestamp\n- Status success\n\n**Format** :\n{\n  \"success\": true,\n  \"files\": {\n    \"csv_3cx\": { \"filename\": \"...\", \"data\": \"...\" },\n    \"xlsx_ymcs\": { \"filename\": \"...\", \"data\": \"...\" }\n  }\n}\n",
        "height": 800,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        640
      ],
      "id": "42f626ad-a923-4c58-bd11-fef8987eb1ab",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📬 NOTIFICATION TELEGRAM\n\n**Envoi** : Après réponse webhook réussie\n\n**Contenu** :\n- Nom du workflow\n- Status : success\n- Temps d'exécution\n- Timestamp\n\n**Service** : Workflow dédié \"Telegram Notification Service\"\n",
        "height": 448,
        "width": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        800
      ],
      "id": "fb29806a-40b7-431e-8345-d72b4f72b606",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "  ## 🔄 AGRÉGATION DES DONNÉES\n  **Aggregate** :\n  - Regroupe tous les items Excel en un seul objet\n  - Entrée : Multiple items (une par feuille Excel)\n  - Sortie : Un seul item avec toutes les données\n\n  **📛 Extract Client Name** :\n  - Extrait le nom du client depuis les données DTX\n  - Nettoie le nom : minuscules, sans accents\n  - Espaces → tirets (ex: \"OVE CARAIBES\" → \"ove-caraibes\")\n  - Génère clientName et siteCode (mtq-3cx-[client]-1)\n\n  **Nécessaire pour** :\n  - Permettre aux agents IA d'accéder à toutes les données\n  - Générer des noms de fichiers et codes site dynamiques",
        "height": 560,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2600,
        712
      ],
      "id": "86c32899-55d9-4d6e-8e6b-c3d77a2e7c08",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// AJOUT DES COLONNES CONSTANTES\n// Version finale avec récupération BLF via $items()\n// ============================================\n\n// Récupérer le BLF XML généré par le nœud \"Generate BLF XML\"\nlet blfXmlGenerated = \"<PhoneDevice><BLFS/></PhoneDevice>\"; // Valeur par défaut\n\ntry {\n  // Récupérer les items du nœud \"Generate BLF XML\"\n  const blfItems = $items(\"Generate BLF XML1\");\n  if (blfItems && blfItems.length > 0 && blfItems[0].json.blfXmlGenerated) {\n    blfXmlGenerated = blfItems[0].json.blfXmlGenerated;\n    console.log(`✅ BLF récupéré depuis Generate BLF XML (${blfXmlGenerated.length} caractères)`);\n  } else {\n    console.warn('⚠️  BLF non trouvé dans Generate BLF XML, utilisation valeur par défaut');\n  }\n} catch (error) {\n  console.error('❌ Erreur récupération BLF:', error.message);\n}\n\n// PhoneSettings XML (constant pour tous)\nconst phoneSettingsXml = '<PhoneDevice ProvType=\"0\" Secret=\"\" PhoneLanguage=\"French\" XferType=\"BXfer\" RingTone=\"Ring 1\" QueueRingTone=\"Ring 6\" DateFormat=\"DD MMM YYYY (15 Jan 2017)\" TimeFormat=\"24-hour clock\" PowerLed=\"Both (Voicemail and Missed calls)\" Backlight=\"15 seconds\" ScreenSaver=\"15 seconds\"><CustomQueueRingTones /><mcgroups enabled=\"false\" /><DynamicOptions><option name=\"vlanwanport\" value=\"False\" /><option name=\"vlanwanid\" value=\"1\" /><option name=\"vlanwanpriority\" value=\"0\" /><option name=\"vlanpcport\" value=\"False\" /><option name=\"vlanpcid\" value=\"1\" /><option name=\"vlanpcpriority\" value=\"0\" /></DynamicOptions><LldpOptions><option name=\"lldpvalue\" value=\"True\" /></LldpOptions><CodecsPriority><Codec Priority=\"1\" PriorityVarName=\"codec1\" DisplayText=\"PCMU\" PayloadTypeName=\"payload1\" payload=\"PCMU\">0</Codec><Codec Priority=\"2\" PriorityVarName=\"codec2\" DisplayText=\"PCMA\" PayloadTypeName=\"payload2\" payload=\"PCMA\">8</Codec><Codec Priority=\"3\" PriorityVarName=\"codec3\" DisplayText=\"G722\" PayloadTypeName=\"payload3\" payload=\"G722\">9</Codec><Codec Priority=\"4\" PriorityVarName=\"codec4\" DisplayText=\"G729\" PayloadTypeName=\"payload4\" payload=\"G729\">18</Codec></CodecsPriority><BLFS /></PhoneDevice>';\n\n// Colonnes constantes (même valeur pour tous les utilisateurs)\nconst CONSTANT_COLUMNS = {\n  \"Template\": \"yealinkT4x.ph.xml\",\n  \"Language\": \"French\",\n  \"MobileNumber\": \"\",\n  \"ClickToCallAuth\": \"\",\n  \"WMApprove\": \"\",\n  \"Ringtone\": \"Ring1.wav\",\n  \"QRingtone\": \"Ring6.wav\",\n  \"VMEnable\": \"1\",\n  \"VMLanguage\": \"0D767FEA-10A3-4ba4-8A57-FE74BDABE4E5\",\n  \"VMPlayMsgDateTime\": \"0\",\n  \"VMEmailOptions\": \"1\",\n  \"VMNoPin\": \"1\",\n  \"VMPlayCallerID\": \"0\",\n  \"RecordCalls\": \"0\",\n  \"RecordExternal\": \"\",\n  \"RecordCanSee\": \"0\",\n  \"RecordCanDelete\": \"0\",\n  \"RecordStartStop\": \"\",\n  \"RecordNotify\": \"0\",\n  \"Disabled\": \"0\",\n  \"HideFWrules\": \"0\",\n  \"DisableExternalCalls\": \"0\",\n  \"HideInPhonebook\": \"0\",\n  \"CallScreening\": \"0\",\n  \"PinProtected\": \"\",\n  \"PinTimeout\": \"0\",\n  \"Transcription\": \"\",\n  \"AllowLanOnly\": \"1\",\n  \"SIPID\": \"\",\n  \"DeliverAudio\": \"0\",\n  \"HotDesk\": \"0\",\n  \"SRTPMode\": \"0\",\n  \"EmailMissedCalls\": \"0\",\n  \"MS365SignInDisabled\": \"\",\n  \"MS365CalendarDisabled\": \"\",\n  \"MS365ContactsDisabled\": \"\",\n  \"MS365TeamsDisabled\": \"0\",\n  \"GoogleSignInDisabled\": \"\",\n  \"GoogleContactsDisabled\": \"\",\n  \"GoogleCalendarDisabled\": \"\",\n  \"Role\": '<role name=\"users\" />',\n  \"Department\": \"DEFAULT\",\n  \"BLF\": blfXmlGenerated,  // ✅ BLF DYNAMIQUE\n  \"PhoneSettings\": phoneSettingsXml\n};\n\n// Récupérer les items utilisateur de l'input actuel\nconst userItems = $input.all();\n\n// Ajouter les colonnes constantes à chaque item utilisateur\nconst enrichedItems = userItems.map(item => ({\n  json: {\n    ...item.json,\n    ...CONSTANT_COLUMNS\n  }\n}));\n\nconsole.log(`✅ ${enrichedItems.length} items enrichis avec colonnes constantes + BLF + PhoneSettings`);\n\nreturn enrichedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        1184
      ],
      "id": "c0b6e817-3015-42c0-9a03-584f00078eba",
      "name": "Add Constant Columns"
    },
    {
      "parameters": {
        "jsCode": "const workflowName = $workflow.name;\nconst startTime = new Date($execution.startedAt).getTime();\nconst endTime = Date.now();\nconst executionTime = ((endTime - startTime) / 1000).toFixed(2);\n\nreturn [{\n  json: {\n    notificationType: 'success',\n    workflowName: workflowName,\n    status: 'success',\n    message: 'Workflow terminé avec succès',\n    executionTime: executionTime,\n    chatId: '5992469226'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1280
      ],
      "id": "34f0a110-1f89-413e-967e-194efa9fecc6",
      "name": "Parse CSV"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=Voici les données du fichier Excel DTX en format JSON :\n{{ JSON.stringify($('Aggregate').item.json.data) }}\n\n# Prompt de conversion DTX → CSV 3CX (COLONNES MINIMALES)\n\n## Mission\nExtraire les données VARIABLES de chaque utilisateur du fichier DTX.\nLes colonnes constantes seront ajoutées automatiquement par le système.\n\n## Colonnes à générer (SEULEMENT 11 colonnes)\n\n**Column 1: Number** - Extension (ex: 2001, 2002)\n**Column 2: FirstName** - Nom/Service (ex: \"Accueil\", \"Infirmier\")\n**Column 3: LastName** - Prénom (souvent vide, utiliser \"\")\n**Column 4: EmailAddress** - Email de l'utilisateur\n**Column 5: DID** - SDA avec préfixe 596 (ex: 596596421201)\n**Column 6: OutboundCallerID** - Numéro sortant (ex: 0596421201)\n**Column 7: MAC** - Adresse MAC 12 caractères MAJUSCULES sans tirets (ex: 44DBD2B367BE)\n**Column 8: Router** - MAC du routeur (même valeur que MAC si c'est le routeur, sinon MAC du premier téléphone)\n**Column 9: Model** - Modèle téléphone (ex: \"Yealink T54W\", \"Yealink T34W\", \"Yealink T33G\")\n**Column 10: WebMeetingFriendlyName** - Nom meeting : nom en minuscules + 4 chiffres aléatoires (ex: \"accueil2001\"). la somme des caractères doit être inférieur à 10\n**Column 11: VMPIN** - PIN messagerie : 4 chiffres aléatoires (ex: \"3714\")\n\n\n## Extraction des données du JSON\n\nLe JSON contient :\n- Première ligne (index 0) = headers (ignorer)\n- Lignes suivantes = données utilisateurs\n\nChamps DTX à utiliser :\n- `__EMPTY_1` = Extension (Number)\n- `DT` = Nom (FirstName)\n- `DTM52690` = Prénom (LastName, souvent vide)\n- `__EMPTY_7` = Email (EmailAddress)\n- `__EMPTY_2` = SDA (pour DID - ajouter préfixe 596)\n- `__EMPTY_3` = Numéro sortant (OutboundCallerID)\n- `À compléter : par Dauphin Télécom` = MAC\n- `__EMPTY_9` = Router MAC\n- `__EMPTY_4` = Modèle (Model)\n\n## Règles de transformation\n\n1. **Extension >= 2000** : Ne traiter que les lignes avec Extension >= 2000\n2. **MAC** : Nettoyer (enlever tirets/espaces), 12 caractères MAJUSCULES\n3. **DID** : Ajouter préfixe \"596\" au SDA (ex: 0596421201 → 5960596421201)\n4. **Model** : Mapper les modèles\n   - \"T54\" ou \"SIP-T54\" → \"Yealink T54W\"\n   - \"T34\" ou \"SIP-T34\" → \"Yealink T34W\"\n   - \"T31G\" → \"Yealink T33G\"\n5. **WebMeetingFriendlyName** : Nom en minuscules + 4 chiffres (ex: \"accueil2001\")\n6. **VMPIN** : Générer 4 chiffres aléatoires\n7. **Role** : Toujours `<role name=\"users\" />`\n8. **Department** : Toujours \"DEFAULT\"\n\n## Format de sortie\n\nCSV avec EXACTEMENT 11 colonnes, séparées par des virgules.\n\n**IMPORTANT** : Les colonnes Role et Department seront ajoutées automatiquement par le système, ne les génère PAS.\n\nPremière ligne = headers (obligatoire)\nLignes suivantes = données\n\n**IMPORTANT** :\n- Entourer de guillemets doubles les valeurs contenant : virgules, < >, espaces multiples\n- Champs vides = deux virgules consécutives (,,) ou guillemets vides (\"\")\n- NE PAS ajouter de ligne \"# TOTAL_LIGNES\"\n- Retourner UNIQUEMENT le CSV brut, pas de markdown, pas de ``` en début et fin de fichier\n\n## Exemple de sortie\n\nNumber,FirstName,LastName,EmailAddress,DID,OutboundCallerID,MAC,Router,Model,WebMeetingFriendlyName,VMPIN,Role,Department\n2001,Accueil,,service.informatique@ove-caraibes.com,5960596421201,0596421201,44DBD2B367BE,44DBD2B367BE,Yealink T54W,accueil2001,3714,\"<role name=\"\"users\"\" />\",DEFAULT\n2002,Infirmier,,service.informatique@ove-caraibes.com,5960596655003,0596421201,44DBD288F416,44DBD2B367BE,Yealink T34W,infirmier2002,6802,\"<role name=\"\"users\"\" />\",DEFAULT\n\n\n⚠️ **RÈGLES CRITIQUES** :\n1. Toutes les lignes doivent avoir EXACTEMENT 11 colonnes\n2. Pas de ligne de commentaire ou de contrôle\n3. Retourner UNIQUEMENT le CSV (pas de texte explicatif)"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -1664,
        1184
      ],
      "id": "424878b1-0c3f-4d6b-86de-5953f9ddcb02",
      "name": "CSV 3CX",
      "credentials": {
        "anthropicApi": {
          "id": "2vs0Sx3yFjNxARMc",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=Voici les données du fichier Excel DTX en format JSON :\n\n{{ JSON.stringify($('Aggregate').item.json.data) }}\n\n**IMPORTANT - Nom du client détecté** :\nNom du client : {{ $json.clientName }}\nCode site à utiliser : {{ $json.siteCode }}\n\n : DTX → YMCS\nMission\nConvertir un fichier Excel DTX en fichier d'import json.\n\nInput DTX\nFichier Excel avec colonnes : Extension, Service/Nom, Prénom, MAC, S/N, Modèle\n\nIMPORTANT : Lire UNIQUEMENT la première feuille du fichier Excel (ignorer les autres feuilles comme \"IVR\", \"Values\", \"Horaires\", etc.)\n\nOutput YMCS\nStructure :\nLigne 0: *MAC | *Machine ID(Serial Number) | Model | Device Name | Site | Unique URL | User Name | Password | Description | Account Type | Account Info | Account Line\nLigne 1+: [Données des équipements]\nFormat du fichier :\nFeuille Excel nommée \"Device_Template\"\n\nLigne 0 : En-têtes des colonnes\n\nLignes suivantes : Données des équipements\n\nFormat .xlsx\n\nRègles de Transformation\nChamps obligatoires :\nMAC (Col 0) : DTX MAC → Enlever tirets/espaces → MAJUSCULES → 12 caractères\n   - Ex: 44-DB-D2-A6-7C-BF → 44DBD2A67CBF\n\nMachine ID (Col 1) : DTX S/N → Copier tel quel\n   - Ex: 801081G110018725\n\nModel (Col 2) : DTX Modèle → Substitution/Standardisation (basée sur la liste fournie)\n   - Substitution Spécifique :\n       - Si DTX Modèle est SIP-W70+W56H, le remplacer par W70B.\n   - Correction 'W' Manquant :\n       - Si DTX Modèle est SIP-T54, le remplacer par SIP-T54W.\n       - Si DTX Modèle est SIP-T34, le remplacer par SIP-T34W.\n   - Autres Modèles T (Ajout de préfixe si nécessaire) :\n       - Si DTX Modèle est de la série T (ex: T31P) et ne commence pas par SIP-, le préfixer avec SIP-.\n       - Le modèle SIP-T21(P) E2 est accepté tel quel.\n   - Modèles DECT/VP : Les modèles qui commencent par W ou VP (ex: W90DM, VP59) sont acceptés tels quels.\n\nDevice Name (Col 3) : IMPORTANT → Format {Extension} - {Nom/Service}\n   - Si DTX a Service/Nom et Prénom: {Extension} - {Service/Nom} {Prénom}\n   - Sinon, si DTX a seulement Service/Nom: {Extension} - {Service/Nom}\n   - Ex: 2951 - COMPTABILITE PHETSANGHANE, 2000 - SECRETARIAT\n\n**⚠️ RÈGLE SPÉCIALE W56H (DECT Handset avec même MAC) :**\nSi plusieurs lignes ont le modèle \"W56H\" ou \"SIP-W56H\" ET la même adresse MAC :\n- Regrouper ces lignes en UNE SEULE ligne dans le fichier YMCS\n- Device Name : \"BASE - [EXT1] [EXT2] [EXT3] ...\"\n- Exemple : Si extensions 2080, 2081, 2082 ont la même MAC → Device Name = \"BASE - 2080 2081 2082\"\n- MAC : L'adresse MAC commune (nettoyée)\n- Machine ID : Le Serial Number de la base (premier trouvé)\n- Model : W56H\n- **IMPORTANT : Pas de doublon d'adresse MAC dans le fichier final YMCS**\n\n**Exemple W56H regroupé** :\nEntrées DTX :\n- Extension 2080, MAC 305EC03F13, S/N 801081E011217378, Modèle W56H\n- Extension 2081, MAC 305EC03F13, S/N (vide ou identique), Modèle W56H\n- Extension 2082, MAC 305EC03F13, S/N (vide ou identique), Modèle W56H\n\nSortie YMCS (UNE SEULE LIGNE) :\n305EC03F13 | 801081E011217378 | W56H | BASE - 2080 2081 2082 | mtq-3cx-eem-1 | | | | | | |\n\nSite (Col 4) : {{ $json.siteCode }}\n   - Format : mtq-3cx-[nom-client]-1\n   - Exemple : mtq-3cx-ovecaraibes-1\n\nCols 5-11 : Laisser vides \"\"\n\nProcessus\nLire Excel DTX - UNIQUEMENT la 1ère feuille\n\nTrouver ligne en-têtes (lignes 3-7)\n\nExtraire lignes avec Extension >= 2000\n\n**TRAITEMENT SPÉCIAL W56H :**\nPour chaque ligne :\n   - Si modèle = W56H ET MAC existe déjà dans le résultat :\n      * Ne PAS créer une nouvelle ligne\n      * Ajouter l'extension au Device Name de la ligne existante (format \"BASE - [EXT1] [EXT2] ...\")\n   - Sinon (téléphone normal ou première occurrence W56H) :\n      * Nettoyer MAC (sans tirets)\n      * Corriger Modèle (appliquer la règle de substitution/standardisation)\n      * Créer Device Name selon pattern\n      * Générer ligne YMCS\n\nCréer Excel : Ligne 0 (en-têtes) + Lignes suivantes (données)\n\nFeuille nommée \"Device_Template\"\n\nSauver import_ymcs_{nom}.xlsx\n\nExemple\n**DTX avec W56H regroupés** :\nExtension=2080 | Nom=JOSEPH | Prénom=Jacqueline | MAC=305EC03F13 | S/N=801081E011217378 | Modèle=W56H\nExtension=2081 | Nom=DUPONT | Prénom=Pierre | MAC=305EC03F13 | S/N= | Modèle=W56H\nExtension=2082 | Nom=MARTIN | Prénom=Marie | MAC=305EC03F13 | S/N= | Modèle=W56H\n\n**YMCS Ligne 1 (UNE SEULE LIGNE pour les 3 extensions)** :\n305EC03F13 | 801081E011217378 | W56H | BASE - 2080 2081 2082 | mtq-3cx-eem-1 | | | | | | |\n\n---\n\n**DTX avec téléphone normal** :\nExtension=2102 | Nom=ROY-C | Prénom= | MAC=44-DB-D2-A6-7C-BF | S/N=801081G110018725 | Modèle=SIP-T54\n\n**YMCS Ligne 2 (ligne normale)** :\n44DBD2A67CBF | 801081G110018725 | SIP-T54W | 2102 - ROY-C | mtq-3cx-eem-1 | | | | | | |\n\nValidation\n✅ MAC 12 caractères sans tirets\n✅ Model corrigé (ex: SIP-T54 → SIP-T54W, SIP-W70+W56H → W70B)\n✅ Device Name = Extension - Nom (ou BASE - [EXT1] [EXT2] pour W56H regroupés)\n✅ Champs obligatoires remplis\n✅ Format Excel .xlsx correct\n✅ **PAS DE DOUBLON MAC dans le fichier final**\n\n⚠️ IMPORTANT : Retourne UNIQUEMENT un JSON structuré avec ce format :\n  {\n    \"devices\": [\n      {\n        \"MAC\": \"...\",\n        \"MachineID\": \"...\",\n        \"Model\": \"...\",\n        \"DeviceName\": \"...\",\n        \"Site\": \"{{ $json.siteCode }}\",\n        \"UniqueURL\": \"\",\n        \"UserName\": \"\",\n        \"Password\": \"\",\n        \"Description\": \"\",\n        \"AccountType\": \"\",\n        \"AccountInfo\": \"\",\n        \"AccountLine\": \"\"\n      }\n    ]\n  }\nNe met pas de ``` en début ni en fin de fichier.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -1312,
        992
      ],
      "id": "11578847-4761-41b3-b3e7-7001f8e1f96f",
      "name": "XLSX YMCS",
      "credentials": {
        "anthropicApi": {
          "id": "2vs0Sx3yFjNxARMc",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// VALIDATION DES DONNÉES D'ENTRÉE\n// Valide la structure des données extraites du fichier Excel\n// ============================================\n\nconst data = $input.first().json.data;\n\n// Check 1: Data exists\nif (!data) {\n  throw new Error('❌ VALIDATION ERROR: Aucune donnée extraite du fichier Excel. Le fichier est peut-être vide ou corrompu.');\n}\n\n// Check 2: Is array\nif (!Array.isArray(data)) {\n  throw new Error(`❌ VALIDATION ERROR: Format de données invalide. Type reçu: ${typeof data}, tableau attendu.`);\n}\n\n// Check 3: Has minimum rows\nif (data.length < 5) {\n  throw new Error(\n    `❌ VALIDATION ERROR: Le fichier ne contient que ${data.length} lignes.\\n` +\n    'Au moins 5 lignes sont attendues (en-têtes + infos client + lignes de données).'\n  );\n}\n\n// Check 4: Has required structure\nconst firstRow = data[0];\nif (!firstRow || typeof firstRow !== 'object') {\n  throw new Error('❌ VALIDATION ERROR: La première ligne a une structure invalide.');\n}\n\n// Check 5: Has DT column\nconst hasDTColumn = data.some(row => row.DT !== undefined);\nif (!hasDTColumn) {\n  throw new Error(\n    '❌ VALIDATION ERROR: Le fichier Excel ne contient pas la colonne \"DT\" requise.\\n' +\n    'Assurez-vous d\\'utiliser le bon fichier template DTX.'\n  );\n}\n\nconsole.log(`✅ Validation réussie: ${data.length} lignes, structure OK`);\n\n// Pass through the data unchanged\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        1112
      ],
      "id": "7df616b5-e61c-454c-83a6-d04541a5c47a",
      "name": "Validate Input Data",
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// EXTRACTION NOM CLIENT DEPUIS CELLULE C (3ème colonne)\n// Version: Position-based with detailed error messages\n// ============================================\n\nconst data = $input.first().json.data;\n\n// Validation: Check if data exists\nif (!data) {\n  throw new Error('❌ EXTRACTION ERROR: Aucune donnée reçue du nœud précédent. Le fichier Excel est peut-être vide ou corrompu.');\n}\n\nif (!Array.isArray(data)) {\n  throw new Error(`❌ EXTRACTION ERROR: Format de données invalide. Type reçu: ${typeof data}. Un tableau était attendu.`);\n}\n\nif (data.length === 0) {\n  throw new Error('❌ EXTRACTION ERROR: Le tableau de données est vide. Le fichier Excel ne contient aucune donnée.');\n}\n\nlet clientName = null;\n\n// Find the row containing \"Nom client \" in the DT column\nconst clientRow = data.find(row =>\n  row.DT && row.DT.toString().toLowerCase().includes(\"nom client\")\n);\n\nif (!clientRow) {\n  // Log available rows for debugging\n  const availableRows = data.slice(0, 5).map((row, idx) =>\n    `Ligne ${idx}: DT=\"${row.DT || 'N/A'}\"`\n  ).join(', ');\n\n  throw new Error(\n    `❌ EXTRACTION ERROR: La ligne \"Nom client\" est introuvable dans le fichier Excel.\\n\\n` +\n    `Lignes disponibles: ${availableRows}\\n\\n` +\n    `Assurez-vous que le fichier Excel contient une ligne avec \"Nom client\" dans la colonne B.`\n  );\n}\n\n// Get all values from this row as an array\nconst rowValues = Object.values(clientRow);\n\nif (rowValues.length < 3) {\n  throw new Error(\n    `❌ EXTRACTION ERROR: Pas assez de colonnes dans la ligne client.\\n` +\n    `${rowValues.length} colonnes trouvées, au moins 3 attendues.\\n` +\n    `Structure: ${JSON.stringify(Object.keys(clientRow))}`\n  );\n}\n\n// Column C is the 3rd column (index 2)\nclientName = rowValues[2];\n\n// If empty, try to find first non-empty value after index 1\nif (!clientName || clientName.toString().trim() === \"\") {\n  const nonEmptyValues = rowValues.slice(2).filter(v => v && v.toString().trim() !== \"\");\n\n  if (nonEmptyValues.length > 0) {\n    clientName = nonEmptyValues[0];\n    console.log(`⚠️ Colonne C vide, utilisation de la première colonne non vide: \"${clientName}\"`);\n  } else {\n    throw new Error(\n      '❌ EXTRACTION ERROR: Le nom du client est vide dans toutes les colonnes après la colonne B.\\n' +\n      'Veuillez remplir le nom du client dans le fichier Excel.'\n    );\n  }\n}\n\n// Validate client name is not just a number or special characters\nconst cleanTest = clientName.toString().trim().replace(/[^a-z0-9]/gi, '');\nif (cleanTest.length === 0) {\n  throw new Error(\n    `❌ EXTRACTION ERROR: Le nom du client \"${clientName}\" ne contient aucun caractère valide.\\n` +\n    'Veuillez utiliser des caractères alphanumériques.'\n  );\n}\n\nconst originalName = clientName.toString();\n\n// Nettoyer le nom du client (minuscules, espaces → tirets)\nclientName = clientName.toString()\n  .toLowerCase()\n  .trim()\n  .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\") // Enlever accents\n  .replace(/\\s+/g, '-') // Remplacer espaces par -\n  .replace(/[^a-z0-9-]+/g, '-') // Remplacer caractères spéciaux par -\n  .replace(/-+/g, '-') // Remplacer tirets multiples par un seul\n  .replace(/^-+|-+$/g, ''); // Enlever - au début/fin\n\n// Final validation\nif (!clientName || clientName === '-') {\n  throw new Error(\n    `❌ EXTRACTION ERROR: Le nom du client \"${originalName}\" n'a pas pu être nettoyé correctement.\\n` +\n    'Veuillez utiliser un nom valide avec des lettres ou des chiffres.'\n  );\n}\n\nconsole.log(`✅ Nom client extrait avec succès: \"${originalName}\" → \"${clientName}\"`);\n\n// Retourner les données avec le nom du client\nreturn [{\n  json: {\n    ...data,\n    clientName: clientName,\n    siteCode: `mtq-3cx-${clientName}-1`,\n    extractionSuccess: true,\n    originalClientName: originalName\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        920
      ],
      "id": "9d2d0c44-41ae-47f3-bce9-f23a8719c659",
      "name": "Extract Client Name",
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        384,
        896
      ],
      "id": "e1d5e5e4-739e-4f1c-909c-79fbe33c93f1",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "\n  // ============================================\n  // CHECK FOR ERRORS + COLLECT ERROR INFO\n  // Détecte les erreurs et collecte toutes les informations\n  // ============================================\n\n  const items = $input.all();\n  const hasError = items.some(item => item.error !== undefined);\n\n  if (hasError) {\n    const errorItem = items.find(item => item.error !== undefined);\n    const error = errorItem.error;\n\n    let errorMessage = 'Une erreur est survenue lors du traitement du fichier.';\n    if (error.message) {\n      errorMessage = error.message;\n    }\n\n    let errorType = 'UNKNOWN_ERROR';\n    if (errorMessage.includes('EXTRACTION ERROR')) {\n      errorType = 'EXTRACTION_ERROR';\n    } else if (errorMessage.includes('VALIDATION ERROR')) {\n      errorType = 'VALIDATION_ERROR';\n    } else if (errorMessage.includes('AI') || errorMessage.includes('OpenAI')) {\n      errorType = 'AI_ERROR';\n    }\n\n    // Get the node name that failed (from error context)\n    const failedNode = error.node?.name || error.context?.nodeName || 'Unknown node';\n\n    console.error(`❌ Erreur détectée: ${errorType} - ${errorMessage}`);\n\n    return [{\n      json: {\n        hasError: true,\n        success: false,\n        errorType: errorType,\n        message: errorMessage.replace('❌ ', ''),\n        timestamp: new Date().toISOString(),\n        // Workflow context for Telegram\n        workflowName: $workflow.name,\n        workflowId: $workflow.id,\n        failedNode: failedNode,\n        executionId: $execution.id,\n        executionMode: $execution.mode\n      }\n    }];\n  }\n\n  // No error, continue normally\n  console.log('✅ Aucune erreur détectée, traitement normal');\n\n  return [{\n    json: {\n      hasError: false,\n      ...items[0].json\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1088
      ],
      "id": "5774832c-e652-44d9-85c3-b37f59c20814",
      "name": "Check for errors",
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ERROR RESPONSE TO WEBHOOK\n// Formate la réponse d'erreur pour le webhook\n// ============================================\n\nconst errorData = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    error: true,\n    errorType: errorData.errorType,\n    message: errorData.message,\n    timestamp: errorData.timestamp,\n    files: {\n      csv_3cx: null,\n      xlsx_ymcs: null\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        992
      ],
      "id": "77d3583c-dd3d-43fb-bfbb-6bcbf2ad04e3",
      "name": "Error response to webhook"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n  // PREPARE TELEGRAM ERROR NOTIFICATION\n  // Formate le message d'erreur pour Telegram\n  // ============================================\n\n  const errorData = $input.first().json;\n\n  // Build detailed error message for Telegram\n  let telegramMessage = `❌ *ERREUR WORKFLOW*\\n\\n`;\n  telegramMessage += `📋 Workflow: *${errorData.workflowName || 'DTX Import'}*\\n`;\n  telegramMessage += `🔗 ID: \\`${errorData.workflowId || 'unknown'}\\`\\n`;\n  telegramMessage += `📍 Node: *${errorData.failedNode || 'Unknown'}*\\n`;\n  telegramMessage += `🔄 Mode: ${errorData.executionMode || 'unknown'}\\n`;\n  telegramMessage += `\\n🔴 *Message d'erreur:*\\n\\`\\`\\`\\n${errorData.message}\\n\\`\\`\\``;\n  telegramMessage += `\\n\\n🆔 Execution ID: \\`${errorData.executionId || 'unknown'}\\``;\n  telegramMessage += `\\n🕐 ${new Date().toLocaleString('fr-FR', { timeZone: 'Europe/Paris' })}`;\n\n  return [{\n    json: {\n      message: telegramMessage,\n      chatId: '5992469226'\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        992
      ],
      "id": "e3eff764-49e4-44f7-981a-cc4709be84a1",
      "name": "Prepare Telergam error"
    },
    {
      "parameters": {
        "chatId": "{{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        1088
      ],
      "id": "786acecb-8fbf-4a47-ba09-3234e03f4bc2",
      "name": "Send a text message",
      "webhookId": "17c0bd0b-2755-4184-9150-05b4c6b7584c",
      "credentials": {
        "telegramApi": {
          "id": "tscHxihjX7g4rq1w",
          "name": "Telegram Scriptator Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1600,
        656
      ],
      "id": "196153eb-9be8-4fd8-8e47-a7ec5f8377a9",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n  // PREPARE TELEGRAM ERROR NOTIFICATION\n  // Formate le message d'erreur pour Telegram\n  // ============================================\n\n  const errorData = $input.first().json;\n\n  // Build detailed error message for Telegram\n  let telegramMessage = `❌ *ERREUR WORKFLOW*\\n\\n`;\n  telegramMessage += `📋 Workflow: *${errorData.workflowName || 'DTX Import'}*\\n`;\n  telegramMessage += `🔗 ID: \\`${errorData.workflowId || 'unknown'}\\`\\n`;\n  telegramMessage += `📍 Node: *${errorData.failedNode || 'Unknown'}*\\n`;\n  telegramMessage += `🔄 Mode: ${errorData.executionMode || 'unknown'}\\n`;\n  telegramMessage += `\\n🔴 *Message d'erreur:*\\n\\`\\`\\`\\n${errorData.message}\\n\\`\\`\\``;\n  telegramMessage += `\\n\\n🆔 Execution ID: \\`${errorData.executionId || 'unknown'}\\``;\n  telegramMessage += `\\n🕐 ${new Date().toLocaleString('fr-FR', { timeZone: 'Europe/Paris' })}`;\n\n  return [{\n    json: {\n      message: telegramMessage,\n      chatId: '5992469226'\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        752
      ],
      "id": "b667f411-1109-4dd3-993c-0a41bdbed181",
      "name": "Prepare Telergam error1"
    },
    {
      "parameters": {
        "chatId": "5992469226",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1600,
        848
      ],
      "id": "8cf8465e-94aa-4566-8b13-fe674b1bdfcb",
      "name": "Send a text message1",
      "webhookId": "17c0bd0b-2755-4184-9150-05b4c6b7584c",
      "credentials": {
        "telegramApi": {
          "id": "tscHxihjX7g4rq1w",
          "name": "Telegram Scriptator Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1888,
        1280
      ],
      "id": "ac49f65a-c869-4fcd-8c0c-43d5938641be",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n  // PREPARE TELEGRAM ERROR NOTIFICATION\n  // Formate le message d'erreur pour Telegram\n  // ============================================\n\n  const errorData = $input.first().json;\n\n  // Build detailed error message for Telegram\n  let telegramMessage = `❌ *ERREUR WORKFLOW*\\n\\n`;\n  telegramMessage += `📋 Workflow: *${errorData.workflowName || 'DTX Import'}*\\n`;\n  telegramMessage += `🔗 ID: \\`${errorData.workflowId || 'unknown'}\\`\\n`;\n  telegramMessage += `📍 Node: *${errorData.failedNode || 'Unknown'}*\\n`;\n  telegramMessage += `🔄 Mode: ${errorData.executionMode || 'unknown'}\\n`;\n  telegramMessage += `\\n🔴 *Message d'erreur:*\\n\\`\\`\\`\\n${errorData.message}\\n\\`\\`\\``;\n  telegramMessage += `\\n\\n🆔 Execution ID: \\`${errorData.executionId || 'unknown'}\\``;\n  telegramMessage += `\\n🕐 ${new Date().toLocaleString('fr-FR', { timeZone: 'Europe/Paris' })}`;\n\n  return [{\n    json: {\n      message: telegramMessage,\n      chatId: '5992469226'\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        1376
      ],
      "id": "63fce592-65da-4d9c-b37e-ad7bb8e6a3a0",
      "name": "Prepare Telergam error2"
    },
    {
      "parameters": {
        "chatId": "{{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1888,
        1472
      ],
      "id": "52f09b80-d480-4532-84f8-b923aa811ce8",
      "name": "Send a text message2",
      "webhookId": "17c0bd0b-2755-4184-9150-05b4c6b7584c",
      "credentials": {
        "telegramApi": {
          "id": "tscHxihjX7g4rq1w",
          "name": "Telegram Scriptator Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "📋 Get DTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract dtx": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get DTX": {
      "main": [
        [
          {
            "node": "⬇️ Download DTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ Download DTX": {
      "main": [
        [
          {
            "node": "Extract dtx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YMCS Format": {
      "main": [
        [
          {
            "node": "Convert File & Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract dtx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert File & Download": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Check for errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Telegram Notification Service'1": {
      "main": [
        []
      ]
    },
    "Generate BLF XML": {
      "main": [
        [
          {
            "node": "XLSX YMCS",
            "type": "main",
            "index": 0
          },
          {
            "node": "CSV 3CX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "3CX Format": {
      "main": [
        [
          {
            "node": "Add Constant Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Files to bas64": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Constant Columns": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Call 'Telegram Notification Service'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV 3CX": {
      "main": [
        [
          {
            "node": "3CX Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XLSX YMCS": {
      "main": [
        [
          {
            "node": "YMCS Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Extract Client Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Telergam error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Client Name": {
      "main": [
        [
          {
            "node": "Generate BLF XML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Telergam error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for errors": {
      "main": [
        [
          {
            "node": "Error response to webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Files to bas64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error response to webhook": {
      "main": [
        [
          {
            "node": "Prepare Telergam error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telergam error": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Prepare Telergam error1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telergam error2": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e3524226-5add-4166-810b-409313a4a5e2",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ASuCRojKT2UkXOpa",
  "tags": [
    {
      "updatedAt": "2025-09-03T14:07:52.287Z",
      "createdAt": "2025-09-03T14:07:52.287Z",
      "id": "LcPpxlqlWWESEENe",
      "name": "3CX Import"
    },
    {
      "updatedAt": "2025-09-03T14:49:42.560Z",
      "createdAt": "2025-09-03T14:49:42.560Z",
      "id": "laZOvtAOZQrv1Pfd",
      "name": "Google Drive"
    },
    {
      "updatedAt": "2025-09-03T14:07:52.791Z",
      "createdAt": "2025-09-03T14:07:52.791Z",
      "id": "m4n7QTlGpD5nJspr",
      "name": "OpenAI"
    }
  ]
}
