workflows/dtx-import-corrected-ASuCRojKT2UkXOpa.json
{
  "name": "DTX Import (CORRECTED)",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1wShjd64G8jEsg3PWV_nSeF9x4lE48ud_",
            "mode": "list",
            "cachedResultName": "Photos MAC SN"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1376,
        1064
      ],
      "id": "0635a4ee-4dbf-4391-ab0c-a811973f47d1",
      "name": "📁 Get Photos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vxCK0uTATXT8s8z2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1152,
        1064
      ],
      "id": "7287da7c-18cd-4f66-bb2f-c2a1a54b6d01",
      "name": "⬇️ Download Photos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vxCK0uTATXT8s8z2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list"
        },
        "text": "Extract the following information from this photo:\n- The phone model (e.g. \"SIP-T34W\", \"SIP-T54W\")\n- All Serial Numbers (SN)\n- All MAC addresses\n\nReturn the result as a pure JSON array of objects.\n⚠️ Do not add any text, comments, explanations, or markdown formatting.\n⚠️ Only return valid JSON.\n\nExample format:\n[\n  {\n    \"filename\": \"{{ $json.name }}\",\n    \"model\": \"SIP-T34W\",\n    \"serial\": \"201037G090016613\",\n    \"mac\": \"44DBD27E72B7\"\n  }\n]",
        "inputType": "base64",
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -928,
        1064
      ],
      "id": "8ea21603-35c8-466c-941f-0c988525b1ca",
      "name": "🔍 OCR Analysis",
      "credentials": {
        "openAiApi": {
          "id": "uVRUCtuJ9tL0nrKZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OCR JSON results\nconst output = [];\nfor (const item of items) {\n  try {\n    const parsed = JSON.parse(item.json.content);\n    const rows = Array.isArray(parsed) ? parsed : [parsed];\n\n    for (const row of rows) {\n      output.push({ json: row });\n    }\n  } catch (e) {\n    output.push({ json: { error: e.message, raw: item.json.content } });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        1064
      ],
      "id": "6a31cb8f-2b58-4409-bd24-240d09d2dfe0",
      "name": "📊 Parse OCR"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ",",
          "fileName": "={{ $json.filename }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -128,
        1064
      ],
      "id": "d285d19f-3e7d-4ee7-b98a-562eb42b0a47",
      "name": "💾 Save Final CSV"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        96,
        1064
      ],
      "id": "76154c2f-310c-4d8e-b561-804a9009c83b",
      "name": "✅ Success"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1376,
        1492
      ],
      "id": "746365d5-bef0-4e08-b293-c28ff7ef6d6c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Mission: Create a valid 3CX import CSV\n\n## Data Available:\n- MAC phones (JSON array):\n\n- DTX users (JSON array):\n\n- Example CSV format:\n\n## Rules:\n- CSV must have exactly 54 columns, matching the headers in the example.\n- Each row = one DTX user.\n- Assign phones to users:\n  - DTX model \"T54\" → SIP-T54W phone (unique MAC).\n  - DTX model \"T57\" → SIP-T57W phone (unique MAC).\n  - DTX model \"T34\" → SIP-T34W phone (unique MAC).\n- No MAC can be used twice.\n- Default values: (fill with example if missing)\n  - Role = `<role name=\"users\" />`\n  - Department = `DEFAULT`\n  - VMEnable = `1`\n  - VMPIN = random 6-digit number\n  - etc. (follow example CSV)\n\n## Output Requirements:\n- Only return raw CSV text (no markdown, no explanations).\n- Each row must contain exactly 54 values.\n- If data is missing, insert an empty string \"\" to preserve 54 columns.\n",
        "options": {
          "systemMessage": "You are an expert in 3CX phone system configuration.\nYour task is to generate a perfectly valid 3CX import CSV file.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -480,
        960
      ],
      "id": "eeab17d9-d6ec-4566-afc7-b0dbe29a0567",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -472,
        1184
      ],
      "id": "150c98b6-5faa-47f8-9b6e-26d916d42e6d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uVRUCtuJ9tL0nrKZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "The Agent can call this tool on its own output. If invalid, it regenerates.",
        "jsCode": "function validateCSV(csvText) {\n  const lines = csvText.trim().split('\\n');\n  const expectedCols = 54;\n  for (let i = 0; i < lines.length; i++) {\n    const cols = lines[i].split(',');\n    if (cols.length !== expectedCols) {\n      return { valid: false, row: i+1, cols: cols.length };\n    }\n  }\n  return { valid: true, rows: lines.length };\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -344,
        1184
      ],
      "id": "b5637114-40f3-4dfb-bf89-9a6a746cb120",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "includeEmptyCells": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -704,
        1540
      ],
      "id": "fc6f5137-a0fe-4b8b-8c1a-9c46f9dbcd49",
      "name": "Extract dtx",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -480,
        1540
      ],
      "id": "14a2e106-d1e5-4177-869e-7158e570fb29",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1svPiSEnDh_FclOa8prgZciYDiROMg0hP",
            "mode": "list",
            "cachedResultName": "dtx to ymcs ",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1svPiSEnDh_FclOa8prgZciYDiROMg0hP"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1152,
        1492
      ],
      "id": "812f7927-63ce-4847-b326-4c83cb89bf93",
      "name": "📋 Get DTX",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vxCK0uTATXT8s8z2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -928,
        1492
      ],
      "id": "067a9b7b-b890-4dcf-bb74-8546280b0b6a",
      "name": "⬇️ Download DTX",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vxCK0uTATXT8s8z2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraire le JSON de la réponse de l'IA\nconst response = $input.first().json;\nconst content = response.message.content;\nconst data = JSON.parse(content);\n\n// Préparer les données au format attendu par Convert to File\nconst devices = data.devices.map(device => ({\n  '*MAC': device.MAC,\n  '*Machine ID(Serial Number)': device.MachineID,\n  'Model': device.Model,\n  'Device Name': device.DeviceName,\n  'Site': device.Site,\n  'Unique URL': device.UniqueURL,\n  'User Name': device.UserName,\n  'Password': device.Password,\n  'Description': device.Description,\n  'Account Type': device.AccountType,\n  'Account Info': device.AccountInfo,\n  'Account Line': device.AccountLine\n}));\n\n// Retourner les données formatées\nreturn devices.map(device => ({ json: device }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1392
      ],
      "id": "6aaf8db8-5612-44d5-8c15-145b296b5fae",
      "name": "YMCS Format"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "compression": true,
          "fileName": "=import_ymcs.xlsx",
          "headerRow": true,
          "sheetName": "devices_template"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        448,
        1392
      ],
      "id": "a06dd76a-7d9f-4934-9b61-f7833ca5d9e9",
      "name": "Convert File & Download"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=Voici les données du fichier Excel DTX en format JSON :\n  {{ JSON.stringify($json.data) }}\n\n\nPrompt Compact : DTX → YMCS\nMission\nConvertir un fichier Excel DTX en fichier d'import json.\n\nInput DTX\nFichier Excel avec colonnes : Extension, Service/Nom, Prénom, MAC, S/N, Modèle\n\nIMPORTANT : Lire UNIQUEMENT la première feuille du fichier Excel (ignorer les autres feuilles comme \"IVR\", \"Values\", \"Horaires\", etc.)\n\nOutput YMCS\nStructure :\nLigne 0: *MAC | *Machine ID(Serial Number) | Model | Device Name | Site | Unique URL | User Name | Password | Description | Account Type | Account Info | Account Line\nLigne 1+: [Données des équipements]\nFormat du fichier :\nFeuille Excel nommée \"Device_Template\"\n\nLigne 0 : En-têtes des colonnes\n\nLignes suivantes : Données des équipements\n\nFormat .xlsx\n\nRègles de Transformation\nChamps obligatoires :\nMAC (Col 0) : DTX MAC → Enlever tirets/espaces → MAJUSCULES → 12 caractères\n   - Ex: 44-DB-D2-A6-7C-BF → 44DBD2A67CBF\n\nMachine ID (Col 1) : DTX S/N → Copier tel quel\n   - Ex: 801081G110018725\n\nModel (Col 2) : DTX Modèle → Substitution/Standardisation (basée sur la liste fournie)\n   - Substitution Spécifique :\n       - Si DTX Modèle est SIP-W70+W56H, le remplacer par W70B.\n   - Correction 'W' Manquant :\n       - Si DTX Modèle est SIP-T54, le remplacer par SIP-T54W.\n       - Si DTX Modèle est SIP-T34, le remplacer par SIP-T34W.\n   - Autres Modèles T (Ajout de préfixe si nécessaire) :\n       - Si DTX Modèle est de la série T (ex: T31P) et ne commence pas par SIP-, le préfixer avec SIP-.\n       - Le modèle SIP-T21(P) E2 est accepté tel quel.\n   - Modèles DECT/VP : Les modèles qui commencent par W ou VP (ex: W90DM, VP59) sont acceptés tels quels.\n\nDevice Name (Col 3) : IMPORTANT → Format {Extension} - {Nom/Service}\n   - Si DTX a Service/Nom et Prénom: {Extension} - {Service/Nom} {Prénom}\n   - Sinon, si DTX a seulement Service/Nom: {Extension} - {Service/Nom}\n   - Ex: 2951 - COMPTABILITE PHETSANGHANE, 2000 - SECRETARIAT\n\n**⚠️ RÈGLE SPÉCIALE W56H (DECT Handset avec même MAC) :**\nSi plusieurs lignes ont le modèle \"W56H\" ou \"SIP-W56H\" ET la même adresse MAC :\n- Regrouper ces lignes en UNE SEULE ligne dans le fichier YMCS\n- Device Name : \"BASE - [EXT1] [EXT2] [EXT3] ...\"\n- Exemple : Si extensions 2080, 2081, 2082 ont la même MAC → Device Name = \"BASE - 2080 2081 2082\"\n- MAC : L'adresse MAC commune (nettoyée)\n- Machine ID : Le Serial Number de la base (premier trouvé)\n- Model : W56H\n- **IMPORTANT : Pas de doublon d'adresse MAC dans le fichier final YMCS**\n\n**Exemple W56H regroupé** :\nEntrées DTX :\n- Extension 2080, MAC 305EC03F13, S/N 801081E011217378, Modèle W56H\n- Extension 2081, MAC 305EC03F13, S/N (vide ou identique), Modèle W56H\n- Extension 2082, MAC 305EC03F13, S/N (vide ou identique), Modèle W56H\n\nSortie YMCS (UNE SEULE LIGNE) :\n305EC03F13 | 801081E011217378 | W56H | BASE - 2080 2081 2082 | mtq-3cx-eem-1 | | | | | | |\n\nSite (Col 4) : mtq-3cx-{nomclient}-1\n   - Ex: mtq-3cx-eem-1\n\nCols 5-11 : Laisser vides \"\"\n\nProcessus\nLire Excel DTX - UNIQUEMENT la 1ère feuille\n\nTrouver ligne en-têtes (lignes 3-7)\n\nExtraire lignes avec Extension >= 2000\n\n**TRAITEMENT SPÉCIAL W56H :**\nPour chaque ligne :\n   - Si modèle = W56H ET MAC existe déjà dans le résultat :\n      * Ne PAS créer une nouvelle ligne\n      * Ajouter l'extension au Device Name de la ligne existante (format \"BASE - [EXT1] [EXT2] ...\")\n   - Sinon (téléphone normal ou première occurrence W56H) :\n      * Nettoyer MAC (sans tirets)\n      * Corriger Modèle (appliquer la règle de substitution/standardisation)\n      * Créer Device Name selon pattern\n      * Générer ligne YMCS\n\nCréer Excel : Ligne 0 (en-têtes) + Lignes suivantes (données)\n\nFeuille nommée \"Device_Template\"\n\nSauver import_ymcs_{nom}.xlsx\n\nExemple\n**DTX avec W56H regroupés** :\nExtension=2080 | Nom=JOSEPH | Prénom=Jacqueline | MAC=305EC03F13 | S/N=801081E011217378 | Modèle=W56H\nExtension=2081 | Nom=DUPONT | Prénom=Pierre | MAC=305EC03F13 | S/N= | Modèle=W56H\nExtension=2082 | Nom=MARTIN | Prénom=Marie | MAC=305EC03F13 | S/N= | Modèle=W56H\n\n**YMCS Ligne 1 (UNE SEULE LIGNE pour les 3 extensions)** :\n305EC03F13 | 801081E011217378 | W56H | BASE - 2080 2081 2082 | mtq-3cx-eem-1 | | | | | | |\n\n---\n\n**DTX avec téléphone normal** :\nExtension=2102 | Nom=ROY-C | Prénom= | MAC=44-DB-D2-A6-7C-BF | S/N=801081G110018725 | Modèle=SIP-T54\n\n**YMCS Ligne 2 (ligne normale)** :\n44DBD2A67CBF | 801081G110018725 | SIP-T54W | 2102 - ROY-C | mtq-3cx-eem-1 | | | | | | |\n\nValidation\n✅ MAC 12 caractères sans tirets\n✅ Model corrigé (ex: SIP-T54 → SIP-T54W, SIP-W70+W56H → W70B)\n✅ Device Name = Extension - Nom (ou BASE - [EXT1] [EXT2] pour W56H regroupés)\n✅ Champs obligatoires remplis\n✅ Format Excel .xlsx correct\n✅ **PAS DE DOUBLON MAC dans le fichier final**\n\n⚠️ IMPORTANT : Retourne UNIQUEMENT un JSON structuré avec ce format :\n  {\n    \"devices\": [\n      {\n        \"MAC\": \"...\",\n        \"MachineID\": \"...\",\n        \"Model\": \"...\",\n        \"DeviceName\": \"...\",\n        \"Site\": \"mtq-3cx-eem-1\",\n        \"UniqueURL\": \"\",\n        \"UserName\": \"\",\n        \"Password\": \"\",\n        \"Description\": \"\",\n        \"AccountType\": \"\",\n        \"AccountInfo\": \"\",\n        \"AccountLine\": \"\"\n      }\n    ]\n  }\n",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -256,
        1392
      ],
      "id": "98f5923f-e4af-4fd3-83a6-1bf4971d5b50",
      "name": "XLSX YMCS",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "uVRUCtuJ9tL0nrKZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c3e0bfb4-f260-48bb-87d3-118d49ad26da",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        1728
      ],
      "id": "687161d3-a4d6-46de-ab58-a6b577844b0e",
      "name": "Webhook",
      "webhookId": "c3e0bfb4-f260-48bb-87d3-118d49ad26da"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        1540
      ],
      "id": "4fab52ea-43d9-4a1e-8593-3616851bc9ad",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        1540
      ],
      "id": "7671e34f-e305-4d09-920e-3f45afd1f2d5",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Préparer la réponse JSON avec les 2 fichiers en base64\nconst csv_3cx = items.find(item => item.binary?.data?.fileName?.includes('3cx'));\nconst xlsx_ymcs = items.find(item => item.binary?.data?.fileName?.includes('ymcs'));\n\nreturn [{\n  json: {\n    success: true,\n    files: {\n      csv_3cx: {\n        filename: csv_3cx?.binary?.data?.fileName || '3cx_import.csv',\n        data: csv_3cx?.binary?.data?.data?.toString('base64') || ''\n      },\n      xlsx_ymcs: {\n        filename: xlsx_ymcs?.binary?.data?.fileName || 'import_ymcs.xlsx',\n        data: xlsx_ymcs?.binary?.data?.data?.toString('base64') || ''\n      }\n    },\n    message: 'Files processed successfully',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        1540
      ],
      "id": "85fad3fa-ae2e-4158-a923-def4f904e922",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// N8N CODE NODE: Ajouter colonnes constantes\n// Version 2 - Parsing CSV amélioré\n// ============================================\n\nconst CONSTANT_COLUMNS = {\n  \"LastName\": \"\",\n  \"MobileNumber\": \"\",\n  \"Template\": \"yealinkT4x.ph.xml\",\n  \"Language\": \"French\",\n  \"ClickToCallAuth\": \"\",\n  \"WMApprove\": \"\",\n  \"Ringtone\": \"Ring1.wav\",\n  \"QRingtone\": \"Ring6.wav\",\n  \"VMEnable\": \"1\",\n  \"VMLanguage\": \"0D767FEA-10A3-4ba4-8A57-FE74BDABE4E5\",\n  \"VMPlayMsgDateTime\": \"0\",\n  \"VMEmailOptions\": \"1\",\n  \"VMNoPin\": \"1\",\n  \"VMPlayCallerID\": \"0\",\n  \"RecordCalls\": \"0\",\n  \"RecordExternal\": \"\",\n  \"RecordCanSee\": \"0\",\n  \"RecordCanDelete\": \"0\",\n  \"RecordStartStop\": \"\",\n  \"RecordNotify\": \"\",\n  \"Disabled\": \"0\",\n  \"HideFWrules\": \"0\",\n  \"DisableExternalCalls\": \"0\",\n  \"HideInPhonebook\": \"0\",\n  \"CallScreening\": \"0\",\n  \"PinProtected\": \"\",\n  \"PinTimeout\": \"0\",\n  \"Transcription\": \"\",\n  \"AllowLanOnly\": \"1\",\n  \"SIPID\": \"\",\n  \"DeliverAudio\": \"0\",\n  \"HotDesk\": \"\",\n  \"SRTPMode\": \"0\",\n  \"EmailMissedCalls\": \"0\",\n  \"MS365SignInDisabled\": \"0\",\n  \"MS365CalendarDisabled\": \"0\",\n  \"MS365ContactsDisabled\": \"0\",\n  \"MS365TeamsDisabled\": \"0\",\n  \"GoogleSignInDisabled\": \"0\",\n  \"GoogleContactsDisabled\": \"0\",\n  \"GoogleCalendarDisabled\": \"0\",\n  \"Role\": '<role name=\"users\" />',\n  \"Department\": \"DEFAULT\",\n  \"BLF\": \"<PhoneDevice><BLFS/></PhoneDevice>\",\n  \"PhoneSettings\": '<PhoneDevice ProvType=\"0\" Secret=\"\" PhoneLanguage=\"French\" XferType=\"BXfer\" RingTone=\"Ring 1\" QueueRingTone=\"Ring 6\" DateFormat=\"DD MMM YYYY (15 Jan 2017)\" TimeFormat=\"24-hour clock\" PowerLed=\"Both (Voicemail and Missed calls)\" Backlight=\"15 seconds\" ScreenSaver=\"15 seconds\"><CustomQueueRingTones /><mcgroups enabled=\"false\" /><DynamicOptions><option name=\"vlanwanport\" value=\"False\" /><option name=\"vlanwanid\" value=\"1\" /><option name=\"vlanwanpriority\" value=\"0\" /><option name=\"vlanpcport\" value=\"False\" /><option name=\"vlanpcid\" value=\"1\" /><option name=\"vlanpcpriority\" value=\"0\" /></DynamicOptions><LldpOptions><option name=\"lldpvalue\" value=\"True\" /></LldpOptions><CodecsPriority><Codec Priority=\"1\" PriorityVarName=\"codec1\" DisplayText=\"PCMU\" PayloadTypeName=\"payload1\" payload=\"PCMU\">0</Codec><Codec Priority=\"2\" PriorityVarName=\"codec2\" DisplayText=\"PCMA\" PayloadTypeName=\"payload2\" payload=\"PCMA\">8</Codec><Codec Priority=\"3\" PriorityVarName=\"codec3\" DisplayText=\"G722\" PayloadTypeName=\"payload3\" payload=\"G722\">9</Codec><Codec Priority=\"4\" PriorityVarName=\"codec4\" DisplayText=\"G729\" PayloadTypeName=\"payload4\" payload=\"G729\">18</Codec></CodecsPriority><BLFS /></PhoneDevice>'\n};\n\nconst COLUMN_ORDER = [\n  \"Number\", \"FirstName\", \"LastName\", \"EmailAddress\", \"DID\", \"OutboundCallerID\",\n  \"MobileNumber\", \"MAC\", \"Router\", \"Model\", \"Template\", \"Language\",\n  \"WebMeetingFriendlyName\", \"VMPIN\", \"ClickToCallAuth\", \"WMApprove\",\n  \"Ringtone\", \"QRingtone\", \"VMEnable\", \"VMLanguage\", \"VMPlayMsgDateTime\",\n  \"VMEmailOptions\", \"VMNoPin\", \"VMPlayCallerID\", \"RecordCalls\", \"RecordExternal\",\n  \"RecordCanSee\", \"RecordCanDelete\", \"RecordStartStop\", \"RecordNotify\",\n  \"Disabled\", \"HideFWrules\", \"DisableExternalCalls\", \"HideInPhonebook\",\n  \"CallScreening\", \"PinProtected\", \"PinTimeout\", \"Transcription\",\n  \"AllowLanOnly\", \"SIPID\", \"DeliverAudio\", \"HotDesk\", \"SRTPMode\",\n  \"EmailMissedCalls\", \"MS365SignInDisabled\", \"MS365CalendarDisabled\",\n  \"MS365ContactsDisabled\", \"MS365TeamsDisabled\", \"GoogleSignInDisabled\",\n  \"GoogleContactsDisabled\", \"GoogleCalendarDisabled\", \"Role\", \"Department\",\n  \"BLF\", \"PhoneSettings\"\n];\n\n// ============================================\n// FONCTION HELPER: Parser CSV correctement\n// ============================================\nfunction parseCSVLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  \n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n    const nextChar = line[i + 1];\n    \n    if (char === '\"') {\n      if (inQuotes && nextChar === '\"') {\n        // Double quote = escaped quote\n        current += '\"';\n        i++; // Skip next quote\n      } else {\n        // Toggle quote state\n        inQuotes = !inQuotes;\n      }\n    } else if (char === ',' && !inQuotes) {\n      // End of field\n      result.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n  \n  // Add last field\n  result.push(current.trim());\n  return result;\n}\n\n// ============================================\n// FONCTION HELPER: Échapper CSV\n// ============================================\nfunction escapeCSVValue(value) {\n  value = String(value || '');\n  \n  // Si contient virgule, guillemets ou retour ligne = entourer de guillemets\n  if (value.includes(',') || value.includes('\"') || value.includes('\\n') || value.includes('\\r')) {\n    // Échapper les guillemets en les doublant\n    return '\"' + value.replace(/\"/g, '\"\"') + '\"';\n  }\n  \n  return value;\n}\n\n// ============================================\n// FONCTION PRINCIPALE\n// ============================================\n\n// Récupérer le CSV minimal de l'IA\n// AJUSTE CETTE LIGNE selon ton nœud AI\nconst minimalCSV = $input.first().json.output; // ou .text, .response, .content\n\n// Nettoyer le CSV (enlever markdown si présent)\nlet cleanCSV = minimalCSV.trim();\nif (cleanCSV.startsWith('```')) {\n  cleanCSV = cleanCSV.replace(/```csv\\n?/g, '').replace(/```\\n?/g, '').trim();\n}\n\n// Parser le CSV minimal\nconst lines = cleanCSV.split('\\n').filter(line => line.trim());\nconst headers = parseCSVLine(lines[0]);\n\n// Construire les lignes complètes\nconst completeRows = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  const values = parseCSVLine(lines[i]);\n  const userData = {};\n  \n  // Mapper les valeurs avec les headers\n  headers.forEach((header, index) => {\n    userData[header] = values[index] || \"\";\n  });\n  \n  // Fusionner avec les colonnes constantes\n  const completeRow = { ...CONSTANT_COLUMNS, ...userData };\n  \n  // Construire la ligne dans l'ordre correct avec échappement\n  const rowValues = COLUMN_ORDER.map(col => {\n    return escapeCSVValue(completeRow[col] || \"\");\n  });\n  \n  completeRows.push(rowValues.join(','));\n}\n\n// Générer le CSV final complet\nconst finalCSV = [\n  COLUMN_ORDER.join(','),  // Headers\n  ...completeRows\n].join('\\n');\n\n// Debug info\nconst debugInfo = {\n  headers_found: headers,\n  rows_processed: completeRows.length,\n  columns_total: COLUMN_ORDER.length,\n  first_row_sample: completeRows[0] ? completeRows[0].substring(0, 200) + '...' : 'N/A'\n};\n\nconsole.log('DEBUG INFO:', JSON.stringify(debugInfo, null, 2));\n\n// Retourner directement le CSV en format binaire exploitable\nreturn [\n  {\n    binary: {\n      data: {\n        data: Buffer.from(finalCSV, 'utf-8').toString('base64'),\n        mimeType: 'text/csv',\n        fileName: '3cx_import.csv',\n        fileExtension: 'csv'\n      }\n    },\n    json: {\n      row_count: completeRows.length,\n      column_count: COLUMN_ORDER.length,\n      debug: debugInfo\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1688
      ],
      "id": "e60759b1-ead0-4260-af48-3e441ce369c9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        168,
        1912
      ],
      "id": "e434ca5b-6b8d-4856-9349-7539893fc62e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "uVRUCtuJ9tL0nrKZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voici les données du fichier Excel DTX en format JSON :\n  {{ JSON.stringify($json.data) }}\n\n\n# Prompt de conversion DTX → CSV 3CX V20\n\n## Instructions\nConvertis le fichier Excel DTX en CSV d'import 3CX V20 en suivant ces règles strictes :\n\n### 1. EXTRACTION DES DONNÉES\n- Feuille : \"DT Recap\"\n- En-têtes : ligne 7 ou 8 (chercher \"Extension\", \"Nom\", \"MAC\")\n- Colonnes DTX : Lieu | Nom | Prénom | Extension | SDA | Affichage sortant | GDM | Modèle | Casque | Softphone | Email | MAC | SN | SBC | IP\n\n### 2. IDENTIFICATION DU ROUTEUR\n- **Si colonne SBC contient \"SBC\" + numéro** (ex: \"SBC 1\") → C'est un téléphone routeur\n  - Le champ Router = son propre MAC\n- **Si colonne SBC contient juste un numéro** (ex: \"1\", \"2\") → Téléphone standard\n  - Le champ Router = MAC du routeur SBC correspondant\n- **Cas spécial** : Si pas de mention SBC, le premier téléphone (souvent ACCUEIL) est le routeur\n\n### 3. RÈGLES DE CONVERSION\n\n**Champs obligatoires :**\nNumber: [Extension]\nFirstName: [Nom]\nLastName: [Prénom]\nEmailAddress :\n- Utiliser l'email original du fichier\n- Si l'email contient une virgule, remplacer UNIQUEMENT les virgules par des points (ex: jean,dupont@mairie,fr → jean.dupont@mairie.fr)\n- Ne jamais générer d'email si le champ est vide\n- Ne jamais modifier d'autres caractères que les virgules\nOutboundCallerID: [Affichage sortant sans espaces]\nDID: [Ajouter préfixe 596 au SDA - ex: 707630 → 596707630]\nRole: \"<role name=\"\"users\"\" />\"\nDepartment: DEFAULT\n\n**⚠️ RÈGLE SPÉCIALE W56H (DECT Handset) :**\nSi le modèle est \"W56H\" ou \"SIP-W56H\" :\n- MAC: VIDE (\"\")\n- Router: VIDE (\"\")\n- Model: VIDE (\"\")\n- Template: VIDE (\"\")\n- Tous les autres champs doivent être remplis normalement\n- Exemple : 2080,Jacqueline,JOSEPH,,,596508600,,\"<role name=\"\"users\"\" />\",DEFAULT,,,jacquelinejose5671,,,,,,,,,1,0D767FEA-10A3-4ba4-8A57-FE74BDABE4E5,0,9719,1,1,0,0,,0,0,,0,0,0,0,0,0,,0,,0,,0,0,0,0,,,,0,,,,<PhoneDevice><BLFS /></PhoneDevice>\n\n**Pour les téléphones NORMAUX (non W56H) :**\nMAC: [MAC du téléphone]\nRouter: [MAC du routeur SBC]\nModel: Mapper SIP-T54W→Yealink T54W, SIP-T34W→Yealink T34W, SIP-T31G→Yealink T33G\nTemplate: yealinkT4x.ph.xml\nLanguage: French\nWebMeetingFriendlyName: [nom+prenom en minuscules sans espaces/accents, max 15 chars + 2-4 chiffres aléatoires]\n\n**Paramètres fixes :**\nMobileNumber:\nClickToCallAuth:\nWMApprove:\nRingtone: Ring1.wav\nQRingtone: Ring6.wav\nVMEnable: 1\nVMLanguage: 0D767FEA-10A3-4ba4-8A57-FE74BDABE4E5\nVMPlayMsgDateTime: 0\nVMPIN: [4 chiffres aléatoires]\nVMEmailOptions: 1\nVMNoPin: 1\nVMPlayCallerID: 0\nRecordCalls: 0\nRecordExternal:\nRecordCanSee: 0\nRecordCanDelete: 0\nRecordStartStop:\nRecordNotify: 0\nDisabled: 0\nHideFWrules: 0\nDisableExternalCalls: 0\nHideInPhonebook: 0\nCallScreening: 0\nPinProtected:\nPinTimeout: 0\nTranscription:\nAllowLanOnly: 1\nSIPID:\nDeliverAudio: 0\nHotDesk:\nSRTPMode: 0\nEmailMissedCalls: 0\nMS365SignInDisabled:\nMS365CalendarDisabled:\nMS365ContactsDisabled:\nMS365TeamsDisabled:\nGoogleSignInDisabled:\nGoogleContactsDisabled:\nGoogleCalendarDisabled:\nBLF: \"<PhoneDevice><BLFS /></PhoneDevice>\"\n\n### 4. FORMAT FINAL\n- CSV avec toutes les colonnes dans l'ordre exact\n- Séparateur : virgule\n- Encodage : UTF-8\n- Première ligne : en-têtes\n- Toute valeur contenant des virgules ou < > doit être entre guillemets\n\n### 5. EXEMPLE DE SORTIE\n\n**Exemple W56H (DECT)** :\n2080,Jacqueline,JOSEPH,,,596508600,,\"<role name=\"\"users\"\" />\",DEFAULT,,,jacquelinejose5671,9719,,,,Ring1.wav,Ring6.wav,1,0D767FEA-10A3-4ba4-8A57-FE74BDABE4E5,0,1,1,0,0,,0,0,,0,0,0,0,0,0,,0,,1,,0,0,0,0,,,,0,,,,,\"<PhoneDevice><BLFS /></PhoneDevice>\"\n\n**Exemple téléphone normal** :\n2000,ACCUEIL,,,596707630,596707630,44DBD2A67CBF,44DBD2A67CBF,Yealink T54W,yealinkT4x.ph.xml,French,accueil1234,5678,,,,Ring1.wav,Ring6.wav,1,0D767FEA-10A3-4ba4-8A57-FE74BDABE4E5,0,1,1,0,0,,0,0,,0,0,0,0,0,0,,0,,1,,0,0,0,0,,,,0,,,,,\"<PhoneDevice><BLFS /></PhoneDevice>\"\n\n### 6. CONTRAINTES FINALES STRICTES\n- Tu DOIS générer **EXACTEMENT le nombre de lignes correspondant au fichier source**, sans omission.\n- Si une des lignes dépasse, **tu réécris TOUT** plutôt que de tronquer.\n- **Interdit** : texte explicatif, \"Voici le CSV\", ```csv, ``` ou tout autre balisage.\n- La réponse DOIT **commencer directement par la ligne d'en-tête CSV**.\n- **Si une adresse e-mail contient une virgule, ne remplacer QUE la virgule par un point.**\n- **À la fin du fichier**, ajoute une ligne de contrôle au format :\n`# TOTAL_LIGNES=[nombre réel de lignes générées hors en-tête]`\n- Tu DOIS vérifier en interne que ce nombre correspond AVANT d'envoyer.\n- **Aucune coupure autorisée. Priorité : complétude totale du CSV.**\n\nIMPORTANT — NE RETOURNE STRICTEMENT RIEN D'AUTRE QUE LE CONTENU CSV + la ligne TOTAL_LIGNES\n",
        "options": {
          "maxIterations": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        96,
        1688
      ],
      "id": "6323d640-29d4-4a36-89a6-bcccd56eecdd",
      "name": "AI Agent CSV 3CX"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wvtp5SjEVchclKdY",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wvtp5SjEVchclKdY",
          "cachedResultName": "Telegram Notification Service"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1568,
        1540
      ],
      "id": "03c9b73b-f138-4f50-ba7e-85aa7b0dd9f2",
      "name": "Call 'Telegram Notification Service'1"
    },
    {
      "parameters": {
        "jsCode": "const workflowName = $workflow.name;\nconst startTime = new Date($execution.startedAt).getTime();\nconst endTime = Date.now();\nconst executionTime = ((endTime - startTime) / 1000).toFixed(2);\n\nreturn [{\n  json: {\n    notificationType: 'success',\n    workflowName: workflowName,\n    status: 'success',\n    message: 'Workflow terminé avec succès',\n    executionTime: executionTime,\n    chatId: '5992469226'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1540
      ],
      "id": "34f0a110-1f89-413e-967e-194efa9fecc6",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {
    "📊 Parse OCR": [
      {
        "json": {
          "filename": "image1",
          "model": "SIP-T34W",
          "serial": "201037G090017561",
          "mac": "44DBD27E6509"
        }
      },
      {
        "json": {
          "filename": "image1",
          "model": "SIP-T34W",
          "serial": "201037G090017101",
          "mac": "44DBD27E63DD"
        }
      }
    ]
  },
  "connections": {
    "📁 Get Photos": {
      "main": [
        [
          {
            "node": "⬇️ Download Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ Download Photos": {
      "main": [
        [
          {
            "node": "🔍 OCR Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 OCR Analysis": {
      "main": [
        [
          {
            "node": "📊 Parse OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Parse OCR": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save Final CSV": {
      "main": [
        [
          {
            "node": "✅ Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "📋 Get DTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "💾 Save Final CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract dtx": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "XLSX YMCS",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent CSV 3CX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get DTX": {
      "main": [
        [
          {
            "node": "⬇️ Download DTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ Download DTX": {
      "main": [
        [
          {
            "node": "Extract dtx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YMCS Format": {
      "main": [
        [
          {
            "node": "Convert File & Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XLSX YMCS": {
      "main": [
        [
          {
            "node": "YMCS Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract dtx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert File & Download": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent CSV 3CX",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent CSV 3CX": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Call 'Telegram Notification Service'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Telegram Notification Service'1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "f9048cf6-2145-4566-a57a-a73261795d9d",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ASuCRojKT2UkXOpa",
  "tags": [
    {
      "updatedAt": "2025-09-03T14:07:52.287Z",
      "createdAt": "2025-09-03T14:07:52.287Z",
      "id": "LcPpxlqlWWESEENe",
      "name": "3CX Import"
    },
    {
      "updatedAt": "2025-09-03T14:49:42.560Z",
      "createdAt": "2025-09-03T14:49:42.560Z",
      "id": "laZOvtAOZQrv1Pfd",
      "name": "Google Drive"
    },
    {
      "updatedAt": "2025-09-03T14:07:52.791Z",
      "createdAt": "2025-09-03T14:07:52.791Z",
      "id": "m4n7QTlGpD5nJspr",
      "name": "OpenAI"
    }
  ]
}
