workflows/minirag-DWub6AKxIavvudCQ.json
{
  "name": "minirag",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://<project_id>.supabase.co/storage/v1/object/list/private",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prefix\": \"\",\n  \"limit\": 100,\n  \"offset\": 0,\n  \"sortBy\": {\n    \"column\": \"name\",\n    \"order\": \"asc\"\n  }\n}",
        "options": {}
      },
      "id": "5eef550e-38e4-4614-afe2-ff74674a18f4",
      "name": "Get All files",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        624,
        1248
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Merge Text').item.json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "2b7e4e08-ff65-4de0-8b53-f41fda66c6c4",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2944,
        1792
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "541238fc-2bf2-4cf9-b1e1-21abe5295361",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        2960,
        1920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "e5984171-19bc-4f50-8dba-a40dd90b8a16",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2768,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "tableId": "files",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Loop Over Items').item.json.name }}"
            },
            {
              "fieldId": "storage_id",
              "fieldValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        }
      },
      "id": "2d04bdae-f8e2-44ae-bf15-f06425dc17f3",
      "name": "Create File record2",
      "type": "n8n-nodes-base.supabase",
      "position": [
        2704,
        1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9b14e306-a04d-40f7-bc5b-b8eda8d8f7f2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ \n    !$('Aggregate').item.json.data || \n    !Array.isArray($('Aggregate').item.json.data) || \n    !$('Aggregate').item.json.data.some(item => \n        item.storage_id === $('Loop Over Items').item.json.id \n    ) \n}}",
              "rightValue": ""
            },
            {
              "id": "c3c0af88-9aea-4539-8948-1b69e601c27c",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": ".emptyFolderPlaceholder"
            }
          ]
        },
        "options": {}
      },
      "id": "3a49b668-8491-4d40-b9c4-b15381596de0",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        944,
        1248
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "files"
      },
      "id": "fa2dcf11-1964-44e3-a667-b147546bdb93",
      "name": "Get All Files",
      "type": "n8n-nodes-base.supabase",
      "position": [
        240,
        1248
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://<project_id>.supabase.co/storage/v1/object/private/{{ $json.name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "c816cd96-51ef-410e-bbfa-97014b4b456f",
      "name": "Download",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1104,
        1248
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "id": "89289dba-9e3c-4a39-943d-bfafa3412fec",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        784,
        1248
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "2fdea076-b05a-4734-86d8-16dec22100b8",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        64,
        1248
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "f658969c-bbf6-4b41-9368-f8c59ed35d44",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        448,
        1248
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b40b9b72-d8d7-4f7d-8ed5-c9cf6bc8f9a4",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        864,
        272
      ],
      "webhookId": "3c40d311-7996-4ed4-b2fa-c73bea5f4cf5",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "786f922b-0464-41aa-b41e-2202360f7fc9",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        2864,
        1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Replace Storage name, database ID and credentials.",
        "height": 89.3775420487804
      },
      "id": "e187d417-aaab-44c8-97a1-9ac2fc0ab43f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Replace credentials.",
        "height": 80
      },
      "id": "1378c75d-1a96-4751-8ea2-49c0e1c031ee",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Replace credentials.",
        "height": 80
      },
      "id": "368b1420-fda9-49cf-aef1-05486ec988b9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2704,
        1472
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Replace Storage name, database ID and credentials.",
        "height": 89.3775420487804
      },
      "id": "8326889a-ba32-402d-92a9-a7b15a79b5c2",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Replace credentials.",
        "height": 80
      },
      "id": "8af90d7f-3e7f-4d7a-8c57-209f67fa1ff5",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2672,
        1904
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Replace credentials.",
        "height": 80
      },
      "id": "42a95209-0c76-4b6f-8ada-b0f25b9bb631",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![5min Logo](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/banner.png)\n## AI Agent To Chat With Files In Supabase Storage\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai-2861)**\n\nManually retrieving and analyzing specific information from large document repositories is time-consuming and inefficient. This workflow automates the process by vectorizing documents and enabling AI-powered interactions, making it easy to query and retrieve context-based information from uploaded files.\n\nThe workflow integrates Supabase with an AI-powered chatbot to process, store, and query text and PDF files. The steps include:\n- Fetching and comparing files to avoid duplicate processing.\n- Handling file downloads and extracting content based on the file type.\n- Converting documents into vectorized data for contextual information retrieval.\n- Storing and querying vectorized data from a Supabase vector store.\n\n",
        "height": 497.1532689930921,
        "width": 636.2128494576581,
        "color": 7
      },
      "id": "896c7b4b-23f7-45fa-ae63-b62f0ec5d480",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scenario 2 - AI agent",
        "height": 890,
        "width": 1112,
        "color": 5
      },
      "id": "b9fae7c8-53b6-464f-979d-b08dbd4867cc",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scenario 1 - Flow for adding new files from Supabase storage",
        "height": 1139,
        "width": 3285,
        "color": 5
      },
      "id": "7d3283df-8844-42e8-8655-f062558fede6",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Merge').item.json.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant.\n\nIMPORTANT Always use knowledge base to respond users.",
          "passthroughBinaryImages": false
        }
      },
      "id": "a31b2a45-8ec7-4fec-8908-93e3f016b49e",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1408,
        224
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "aad09ac8-126c-4df0-a225-9adf20977746",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1328,
        448
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merge').item.json.session_id }}"
      },
      "id": "215b8597-857c-45d1-aa7c-0b39f003ce0b",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1472,
        448
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3d5cef92-f316-4d7d-8e97-0aebef64d47a",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1600,
        624
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Gather facts from knowledge base to respond user.",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "14505663-2d02-4e6a-9675-3b0bc0a9bc62",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        1600,
        464
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1rFIHlWMlbt0vAh1CWjcmNOmJYk_8jUIb",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rFIHlWMlbt0vAh1CWjcmNOmJYk_8jUIb",
          "cachedResultName": "Case - dentist"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "159727dd-53f1-47f6-8ebc-3ded2ebfaa01",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        48,
        2448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set File ID').last().json.file_id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "3a9886c5-859f-4e8c-b771-b04a9d77e24e",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        640,
        2544
      ],
      "executeOnce": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1rFIHlWMlbt0vAh1CWjcmNOmJYk_8jUIb",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rFIHlWMlbt0vAh1CWjcmNOmJYk_8jUIb",
          "cachedResultName": "Case - dentist"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "1917ef62-cd58-4901-94ba-55b1bceabc2a",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        64,
        2624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>drive_file_id=like.*{{ $json.file_id }}*"
      },
      "id": "87c4fbf9-1971-4be9-98aa-a24c7cceb058",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "position": [
        464,
        2544
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "7d0b3a5e-9dfa-46d3-bf16-f6fc1d44f242",
              "name": "extension",
              "type": "string",
              "value": "={{ $json.fileExtension }}"
            }
          ]
        },
        "options": {}
      },
      "id": "be210ceb-a3ff-4dbf-b758-ca8854c96b8e",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "position": [
        304,
        2544
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "tableId": "files",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Download File').item.binary.data.fileName }}"
            },
            {
              "fieldId": "google_drive_id",
              "fieldValue": "={{ $('Set File ID').item.json.file_id }}"
            }
          ]
        }
      },
      "id": "e05e72f4-29fb-40cd-8dad-3110134f135c",
      "name": "Create File record1",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1824,
        2752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Set Text3').item.json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "drive_file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "ccffa04f-4f7e-452f-8724-2d9be88c76c4",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2080,
        2944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "f4e1cd2e-139c-4385-850e-76b66099bc5f",
      "name": "Embeddings OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1920,
        2928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "e81f27df-5102-4c5d-a510-c449cc6ecb4b",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        2112,
        3152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "26bd1605-c7a5-4997-9155-020a8b56499e",
      "name": "Insert into Supabase Vectorstore1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        2032,
        2752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scenario 3 - Flow for adding new files from Supabase storage",
        "height": 1139,
        "width": 2465,
        "color": 5
      },
      "id": "5147eb55-2d8b-4027-a02e-6c787f69aeaf",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        2208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad3055e5-41eb-4e00-9f55-dbcde47a03c7",
              "name": "session_id",
              "type": "string",
              "value": "={{   $('When chat message received').item.json.sessionId }}"
            },
            {
              "id": "56126e31-5fe0-4a9c-b9c9-d62fcb8bd469",
              "name": "message",
              "type": "string",
              "value": "={{   $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c6135f0b-5bee-431f-8025-4d6ae314f3b5",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1040,
        272
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e5fbeb0-d866-40fe-8c1b-66b946bd1cec",
              "name": "session_id",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.session_id }}"
            },
            {
              "id": "28ec27a5-f814-435c-a5bf-df92160eee3e",
              "name": "message",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a35bf6f1-d5d0-4fc5-a522-2776e2ebd169",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        1040,
        112
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "do_not_cache",
              "value": "=true"
            }
          ]
        },
        "options": {}
      },
      "id": "8c000947-8ff1-457e-b61f-c69653f7cfa0",
      "name": "Upload File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1488,
        1248
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "56c0364b-ca4c-4149-b7e4-de714a43ca3d",
      "name": "Get Processing Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1680,
        1248
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 7
      },
      "id": "99c82499-a564-4802-98fd-c2f5a6dea981",
      "name": "Wait to stay within service limits",
      "type": "n8n-nodes-base.wait",
      "position": [
        2112,
        1008
      ],
      "webhookId": "17a96ed6-b5ff-47bb-a8a2-39c1eb40185a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0fa97d86-432a-409a-917e-5f1a002b1ab9",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PENDING"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e6058aa0-a3e2-4ce3-9bed-6ff41a5be052",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ERROR"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ERROR"
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ceb6338f-4261-40ac-be11-91f61c7302ba",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "CANCELED"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "CANCELED"
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "300fce8c-b19a-4d0c-86e8-f62853c70ce2",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "7ad8b2af-97be-4f2b-a696-b2964c5e27a1",
      "name": "Is Job Ready?",
      "type": "n8n-nodes-base.switch",
      "position": [
        1872,
        1248
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "errorMessage": "Problem with Llamaparser. Error during parsing."
      },
      "id": "f919b2d5-11bb-4de1-87b6-363f751aba68",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        2112,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "2737c3d2-60d3-4e22-b2a5-91eb7a3babfe",
      "name": "Get Parsed Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2112,
        1440
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "### Add Llamaparse Header auth\nAuthorization: Bearer <api_key>",
        "height": 80,
        "width": 280
      },
      "id": "d7a9af13-a455-46bf-9f49-1a5fa4f04ca5",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "93f8acca-bc9f-44a5-aa05-846fcfae658b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1248,
        224
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f05d708d-f36e-4c6d-8753-81a61ae42546",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.data }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "484874e9-a94d-4a90-b9d6-5964aa41a100",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        1264,
        1248
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9bbecd9-3d40-4a6a-9401-94daab15cde0",
              "name": "text",
              "type": "string",
              "value": "={{ $('If1').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c7ce2371-25dd-4d30-a8c5-86aa4ca5af06",
      "name": "Set Text",
      "type": "n8n-nodes-base.set",
      "position": [
        1504,
        1568
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9bbecd9-3d40-4a6a-9401-94daab15cde0",
              "name": "text",
              "type": "string",
              "value": "={{ $('Get Parsed Data').item.json.markdown }}"
            }
          ]
        },
        "options": {}
      },
      "id": "356daa15-682c-4558-955a-34afa5672dc9",
      "name": "Set Text1",
      "type": "n8n-nodes-base.set",
      "position": [
        2288,
        1440
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "88fc41e9-4d4c-42bf-82ea-8460d9359b9b",
      "name": "Merge Text",
      "type": "n8n-nodes-base.merge",
      "position": [
        2512,
        1584
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "do_not_cache",
              "value": "=true"
            }
          ]
        },
        "options": {}
      },
      "id": "bebabd66-c648-4da4-9084-814049f57b0f",
      "name": "Upload File1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        832,
        2544
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "51792b05-aa61-4f1b-be2c-bae97094e402",
      "name": "Get Processing Status1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1024,
        2544
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 7
      },
      "id": "82002a8c-4883-4b18-9214-ad8d1ad625f2",
      "name": "Wait to stay within service limits1",
      "type": "n8n-nodes-base.wait",
      "position": [
        1440,
        2304
      ],
      "webhookId": "17a96ed6-b5ff-47bb-a8a2-39c1eb40185a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0fa97d86-432a-409a-917e-5f1a002b1ab9",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PENDING"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e6058aa0-a3e2-4ce3-9bed-6ff41a5be052",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ERROR"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ERROR"
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ceb6338f-4261-40ac-be11-91f61c7302ba",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "CANCELED"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "CANCELED"
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "300fce8c-b19a-4d0c-86e8-f62853c70ce2",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "77336418-5b75-4e29-8e27-0e01240dfc38",
      "name": "Is Job Ready?1",
      "type": "n8n-nodes-base.switch",
      "position": [
        1200,
        2544
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "errorMessage": "Problem with Llamaparser. Error during parsing."
      },
      "id": "4d1e8728-9235-4245-8e95-000b1078f314",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        1440,
        2560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "eb434343-df25-4dc6-8a47-18e81cf97949",
      "name": "Get Parsed Data1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1440,
        2752
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "### Add Llamaparse Header auth\nAuthorization: Bearer <api_key>",
        "height": 80,
        "width": 280
      },
      "id": "747e88bb-2eb5-4e2e-a062-7a3dcdc9c34a",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        2720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9bbecd9-3d40-4a6a-9401-94daab15cde0",
              "name": "text",
              "type": "string",
              "value": "={{ $('Get Parsed Data1').item.json.markdown }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4615f646-75a6-4be7-8577-50566c254259",
      "name": "Set Text3",
      "type": "n8n-nodes-base.set",
      "position": [
        1632,
        2752
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "05979e87-19bc-4e8b-adbb-7e04808f8b21",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b6554cc9-b7b8-4f29-9ae8-16ec10d97adb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        864,
        112
      ],
      "webhookId": "05979e87-19bc-4e8b-adbb-7e04808f8b21",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "### Replace credentials.",
        "height": 80,
        "width": 480
      },
      "id": "0240d3c8-5a17-4876-8139-d9579fcb40d2",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1824,
        2624
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Merge Text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get All files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text1": {
      "main": [
        [
          {
            "node": "Merge Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text3": {
      "main": [
        [
          {
            "node": "Create File record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Text": {
      "main": [
        [
          {
            "node": "Create File record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Get Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File1": {
      "main": [
        [
          {
            "node": "Get Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Upload File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Files": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Job Ready?": {
      "main": [
        [
          {
            "node": "Wait to stay within service limits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Parsed Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Is Job Ready?1": {
      "main": [
        [
          {
            "node": "Wait to stay within service limits1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Parsed Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parsed Data": {
      "main": [
        [
          {
            "node": "Set Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parsed Data1": {
      "main": [
        [
          {
            "node": "Set Text3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Create File record1": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File record2": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Get Processing Status": {
      "main": [
        [
          {
            "node": "Is Job Ready?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Processing Status1": {
      "main": [
        [
          {
            "node": "Is Job Ready?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get All Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Wait to stay within service limits": {
      "main": [
        [
          {
            "node": "Get Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait to stay within service limits1": {
      "main": [
        [
          {
            "node": "Get Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3e21ad2-a35c-4ca9-b5d8-cc36a47b94a4",
  "meta": null,
  "id": "DWub6AKxIavvudCQ",
  "tags": []
}
