workflows/n8n-github-daily-backup-sgXgkbEagzKdsEAF.json
{
  "name": "N8N GitHub Daily Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "id": "510eb682-9bf6-4055-a794-0a760c566bdb",
      "name": "Schedule Daily Backup"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "repo-path",
              "name": "REPO_PATH",
              "value": "/home/node/backups",
              "type": "string"
            },
            {
              "id": "git-branch",
              "name": "GIT_BRANCH",
              "value": "main",
              "type": "string"
            },
            {
              "id": "git-user",
              "name": "GIT_USER_NAME",
              "value": "nmserain",
              "type": "string"
            },
            {
              "id": "git-email",
              "name": "GIT_USER_EMAIL",
              "value": "n.serain@gmail.com",
              "type": "string"
            },
            {
              "id": "git-token",
              "name": "GIT_TOKEN",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ],
      "id": "a419f2d7-bbd5-488f-9e66-90a332cd12c0",
      "name": "Configuration"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "id": "7c67df16-71a1-4df9-ace0-029bfb4cd94d",
      "name": "Get All Workflows",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iIZFEtqGUwVe2B3t",
          "name": "X-N8N-API-KEY"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst workflows = $input.item.json.data;\nconst repoPath = $('Configuration').item.json.REPO_PATH;\nconst workflowsDir = path.join(repoPath, 'workflows');\nconst timestamp = new Date().toISOString();\n\nif (!fs.existsSync(workflowsDir)) {\n  fs.mkdirSync(workflowsDir, { recursive: true });\n}\n\nconst REDACTED_FIELDS = ['GIT_TOKEN'];\n\nfunction redactSecrets(workflowData) {\n  const clone = JSON.parse(JSON.stringify(workflowData));\n  for (const node of (clone.nodes || [])) {\n    const assignments = node.parameters?.assignments?.assignments;\n    if (assignments) {\n      for (const a of assignments) {\n        if (REDACTED_FIELDS.includes(a.name)) a.value = '';\n      }\n    }\n  }\n  return clone;\n}\n\nconst currentFilenames = new Set();\n\nfor (const workflow of workflows) {\n  const workflowData = {\n    name: workflow.name,\n    nodes: workflow.nodes,\n    pinData: workflow.pinData || {},\n    connections: workflow.connections,\n    active: workflow.active,\n    settings: workflow.settings,\n    versionId: workflow.versionId,\n    meta: workflow.meta,\n    id: workflow.id,\n    tags: workflow.tags || []\n  };\n\n  const sanitizedName = workflow.name\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n\n  const filename = sanitizedName + '-' + workflow.id + '.json';\n  currentFilenames.add(filename);\n\n  fs.writeFileSync(\n    path.join(workflowsDir, filename),\n    JSON.stringify(redactSecrets(workflowData), null, 2),\n    'utf8'\n  );\n}\n\n// Full export also redacted\nfs.writeFileSync(\n  path.join(repoPath, 'N8N_GitHub_Daily_Backup.json'),\n  JSON.stringify({ workflows: workflows.map(w => redactSecrets(w)) }, null, 2),\n  'utf8'\n);\n\n// Remove orphan files\nconst existingFiles = fs.readdirSync(workflowsDir).filter(f => f.endsWith('.json'));\nconst removedFiles = [];\nfor (const file of existingFiles) {\n  if (!currentFilenames.has(file)) {\n    fs.unlinkSync(path.join(workflowsDir, file));\n    removedFiles.push(file);\n  }\n}\n\nreturn [{ json: { timestamp, workflowCount: workflows.length, removedCount: removedFiles.length, removedFiles } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
      "name": "Process & Save All Files"
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst repoPath = $('Configuration').item.json.REPO_PATH;\nconst gitBranch = $('Configuration').item.json.GIT_BRANCH;\nconst gitUserName = $('Configuration').item.json.GIT_USER_NAME;\nconst gitUserEmail = $('Configuration').item.json.GIT_USER_EMAIL;\nconst gitToken = $('Configuration').item.json.GIT_TOKEN;\nconst timestamp = $('Process & Save All Files').item.json.timestamp;\nconst workflowCount = $('Process & Save All Files').item.json.workflowCount;\nconst removedCount = $('Process & Save All Files').item.json.removedCount;\n\nconst exec = (cmd) => execSync(\n  'GIT_TERMINAL_PROMPT=0 GIT_ASKPASS=true ' + cmd,\n  { encoding: 'utf8', timeout: 120000 }\n).trim();\n\nconst remoteUrl = 'https://nmserain:' + gitToken + '@github.com/nmserain/n8nworkflows.git';\nconst workflowsDir = repoPath + '/workflows';\nconst fullBackupFile = repoPath + '/N8N_GitHub_Daily_Backup.json';\n\ntry {\n  // Scrub any leaked secrets from files before committing (belt-and-suspenders)\n  exec('find ' + workflowsDir + ' -name \\'*.json\\' -exec sed -i \\'s/REDACTED[A-Za-z0-9_]*/REDACTED/g\\' {} +');\n  exec('sed -i \\'s/REDACTED[A-Za-z0-9_]*/REDACTED/g\\' ' + fullBackupFile);\n\n  // Nuclear git: rebuild clean history by re-cloning and restoring files\n  const tmpDir = '/tmp/n8n-git-work';\n  exec('rm -rf ' + tmpDir);\n\n  // Save our clean files to temp before git checkout may overwrite them\n  exec('mkdir -p ' + tmpDir + '/wf');\n  exec('cp -r ' + workflowsDir + '/. ' + tmpDir + '/wf/');\n  exec('cp ' + fullBackupFile + ' ' + tmpDir + '/backup.json');\n\n  // Nuke old .git and re-init for clean history\n  exec('rm -rf ' + repoPath + '/.git');\n  exec('git -C ' + repoPath + ' init');\n  exec('git -C ' + repoPath + ' remote add origin ' + remoteUrl);\n  exec('git -C ' + repoPath + ' config user.name \"' + gitUserName + '\"');\n  exec('git -C ' + repoPath + ' config user.email \"' + gitUserEmail + '\"');\n\n  // Try to base on existing remote history\n  try {\n    exec('git -C ' + repoPath + ' fetch origin ' + gitBranch + ' --depth=1 --quiet');\n    exec('git -C ' + repoPath + ' checkout -b ' + gitBranch + ' origin/' + gitBranch);\n  } catch(e) {\n    exec('git -C ' + repoPath + ' checkout -b ' + gitBranch);\n  }\n\n  // Restore our clean files (overwrite whatever checkout placed)\n  exec('mkdir -p ' + workflowsDir);\n  exec('cp -r ' + tmpDir + '/wf/. ' + workflowsDir + '/');\n  exec('cp ' + tmpDir + '/backup.json ' + fullBackupFile);\n  exec('rm -rf ' + tmpDir);\n\n  // Stage and check for changes\n  exec('git -C ' + repoPath + ' add workflows/ N8N_GitHub_Daily_Backup.json');\n  const staged = exec('git -C ' + repoPath + ' diff --staged --name-only');\n  if (!staged) {\n    return [{ json: { exitCode: 0, stdout: 'No changes — already up to date', stderr: '' } }];\n  }\n\n  let commitMsg = 'backup: ' + workflowCount + ' workflows — ' + timestamp;\n  if (removedCount > 0) commitMsg += ' (removed ' + removedCount + ')';\n\n  exec('git -C ' + repoPath + ' commit --no-verify --no-gpg-sign -m \"' + commitMsg + '\"');\n  exec('git -C ' + repoPath + ' push --force -u origin ' + gitBranch);\n\n  return [{ json: { exitCode: 0, stdout: 'Backed up ' + workflowCount + ' workflows', stderr: '' } }];\n} catch (error) {\n  try { execSync('rm -rf /tmp/n8n-git-work', { encoding: 'utf8' }); } catch(e) {}\n  return [{ json: { exitCode: 1, stdout: '', stderr: error.message.slice(0, 500) } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "id": "2d46c2d8-2650-42d3-9e36-11264dabc032",
      "name": "Git Commit and Push"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-exit-code",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "check-no-changes",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "No changes",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "id": "a1b2c3d4-e5f6-7890-1234-abcdef567890",
      "name": "Check Result"
    },
    {
      "parameters": {
        "jsCode": "const workflowCount = $('Process & Save All Files').item.json.workflowCount;\nconst removedCount = $('Process & Save All Files').item.json.removedCount;\nconst timestamp = $('Process & Save All Files').item.json.timestamp;\n\nlet message = 'Backed up ' + workflowCount + ' workflows';\nif (removedCount > 0) message += ', removed ' + removedCount + ' orphan(s)';\n\nreturn [{ json: { success: true, timestamp, workflowCount, removedCount, message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        180
      ],
      "id": "8a6da954-bc50-4951-9f58-88f640bb7167",
      "name": "Create Backup Summary"
    },
    {
      "parameters": {
        "jsCode": "const workflowName = $workflow.name;\nconst startTime = new Date($execution.startedAt).getTime();\nconst executionTime = ((Date.now() - startTime) / 1000).toFixed(2);\n\nreturn [{\n  json: {\n    notificationType: 'success',\n    workflowName,\n    status: 'success',\n    message: $json.message,\n    executionTime,\n    chatId: '5992469226'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        180
      ],
      "id": "93a6a56d-ef40-4332-af1c-8b868b84ffee",
      "name": "Prepare Success Notification"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wvtp5SjEVchclKdY",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wvtp5SjEVchclKdY",
          "cachedResultName": "Telegram Notification Service"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2000,
        180
      ],
      "id": "31067346-6e8f-4e41-818f-3c3553717f14",
      "name": "Call Telegram Success"
    },
    {
      "parameters": {
        "jsCode": "const workflowName = $workflow.name;\nconst startTime = new Date($execution.startedAt).getTime();\nconst executionTime = ((Date.now() - startTime) / 1000).toFixed(2);\nconst stderr = ($json.stderr || '').slice(0, 300) || 'Unknown error';\nconst exitCode = $json.exitCode;\n\nreturn [{\n  json: {\n    notificationType: 'error',\n    workflowName,\n    status: 'error',\n    message: 'Git push failed (exit ' + exitCode + '): ' + stderr,\n    executionTime,\n    chatId: '5992469226'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        420
      ],
      "id": "b2c3d4e5-f6a7-8901-2345-bcdef6789012",
      "name": "Prepare Error Notification"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wvtp5SjEVchclKdY",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wvtp5SjEVchclKdY",
          "cachedResultName": "Telegram Notification Service"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1780,
        420
      ],
      "id": "c3d4e5f6-a7b8-9012-3456-cdef78901234",
      "name": "Call Telegram Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Daily Backup": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Process & Save All Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Save All Files": {
      "main": [
        [
          {
            "node": "Git Commit and Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Commit and Push": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Create Backup Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Backup Summary": {
      "main": [
        [
          {
            "node": "Prepare Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Notification": {
      "main": [
        [
          {
            "node": "Call Telegram Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Notification": {
      "main": [
        [
          {
            "node": "Call Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "89c46016-15e8-41e5-9aa3-d0b8d53196dc",
  "meta": null,
  "id": "sgXgkbEagzKdsEAF",
  "tags": [
    {
      "updatedAt": "2025-11-27T03:02:59.916Z",
      "createdAt": "2025-11-27T03:02:59.916Z",
      "id": "ZcHZlbpMvGST7dG8",
      "name": "backup"
    },
    {
      "updatedAt": "2025-11-27T03:03:00.320Z",
      "createdAt": "2025-11-27T03:03:00.320Z",
      "id": "kmoXB2eM9J1BpRn5",
      "name": "github"
    }
  ]
}