workflows/scriptator-EV09AFBywoEuXV5A.json
{
  "name": "Scriptator",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Analyse uniquement l'étiquette du routeur MikroTik visible dans cette image. Ignore complètement tout autre texte ou élément présent dans l'image.\n\nExtrait les informations suivantes et retourne UNIQUEMENT le JSON brut, sans formatage markdown, sans backticks, sans le mot \"json\" :\n\n{\"model\":\"\",\"mac_addresses\":{\"E01\":\"\",\"E09\":\"\",\"W01\":\"\"},\"serial_number\":\"\",\"login\":\"\",\"password\":\"\",\"wifi_password\":\"\"}\n\nIMPORTANT : Retourne SEULEMENT le JSON, rien d'autre. Pas de ```json, pas d'explication, pas de texte supplémentaire.",
        "inputType": "base64",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        272,
        0
      ],
      "id": "0d39ecb9-bd54-410a-a8bb-0db82caad937",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "uVRUCtuJ9tL0nrKZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        512,
        0
      ],
      "id": "523a04f6-9c04-44e1-8662-ffa6655f0b1d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "906ad79f-25da-4a87-9d9e-ad639679cfa8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "0550ee1c-d32a-49d2-ab83-3e6ebf593246",
      "name": "Webhook - FTTH IMAGE OCR",
      "webhookId": "906ad79f-25da-4a87-9d9e-ad639679cfa8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un assistant expert en extraction de données structurées à partir de texte brut issu de documents d’intervention technique télécom.\nÀ partir du texte suivant (issu d’un PDF déjà converti en texte), extrais les informations suivantes et retourne-les dans un objet JSON.\nSi une information n’est pas trouvée, mets une chaîne vide \"\" pour ce champ.\noffre_commerciale : valeur après « Offre commerciale » ou « Offre commerciale - »\nreference_client : valeur après « Référence client » ou « DTM » (ex : DTM50040)\nnom_client : valeur après « Nom »\ndate_mad : date de mise en service (MAD), généralement après « est MAD à partir du »\nadresse : valeur après « Adresse »\ncontact : valeur après « Contact »\netablissement : valeur après « Etablissement »\ncapacite : valeur après « Capacité »\nvlan : valeur après « VLAN »\nintervenant : valeur après « Intervenant »\nheure_arrivee : valeur après « Heure d'arrivée »\nheure_depart : valeur après « Heure de départ »\ncompte_rendu : valeur après « Compte rendu »\nadresse_ip : valeur après « Adresse IP »\nmasque : valeur après « Masque »\npasserelle : valeur après « Passerelle »\ndns1 : valeur après « DNS1 »\ndns2 : valeur après « DNS2 »\nsignataire : valeur après « Signataire »\ndate_signature : valeur après « Fait le » ou la date en bas du document\nExemple d’entrée :\n {{ $json.text }}\n\nExemple de sortie attendue :\n{\n  \"offre_commerciale\": \"UNITY POWER / DTX\",\n  \"reference_client\": \"DTM50040\",\n  \"nom_client\": \"TRAITEMENT PLUS\",\n  \"date_mad\": \"04/06/2025\",\n  \"adresse\": \"17 RUE VINCENT ALLEGRE 97231 MTQ - Le Robert\",\n  \"contact\": \"0596380041 / 0696825208\",\n  \"etablissement\": \"LE ROBERT\",\n  \"capacite\": \"4\",\n  \"vlan\": \"\",\n  \"intervenant\": \"SERAIN Nicolas\",\n  \"heure_arrivee\": \"10h36\",\n  \"heure_depart\": \"11h43\",\n  \"compte_rendu\": \"Mise à disposition\",\n  \"adresse_ip\": \"10.0.0.0\",\n  \"masque\": \"0.0.0.0\",\n  \"passerelle\": \"0.0.0.0\",\n  \"dns1\": \"198.101.100.34\",\n  \"dns2\": \"8.8.8.8\",\n  \"signataire\": \"Lauriane LEZIN\",\n  \"date_signature\": \"04/06/2025\"\n}\nImportant :\nRetourne uniquement le JSON, sans explication ni texte supplémentaire.\nSi une information n’est pas trouvée, mets une chaîne vide \"\" pour ce champ.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        448,
        224
      ],
      "id": "3396479b-1785-4385-b571-3c289fa62502",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        432
      ],
      "id": "0899da99-e93f-4727-be18-ff35a17b690f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "4xYb3GEGcMCTdayu",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        848,
        224
      ],
      "id": "bfed9146-bf6a-4f94-8636-1bb40ee70924",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"offre_commerciale\": \"UNITY POWER / DTX\",\n  \"reference_client\": \"DTM50040\",\n  \"nom_client\": \"TRAITEMENT PLUS\",\n  \"date_mad\": \"04/06/2025\",\n  \"adresse\": \"17 RUE VINCENT ALLEGRE 97231 MTQ - Le Robert\",\n  \"contact\": \"0596380041 / 0696825208\",\n  \"etablissement\": \"LE ROBERT\",\n  \"capacite\": \"4\",\n  \"vlan\": \"\",\n  \"intervenant\": \"SERAIN Nicolas\",\n  \"heure_arrivee\": \"10h36\",\n  \"heure_depart\": \"11h43\",\n  \"compte_rendu\": \"Mise à disposition\",\n  \"adresse_ip\": \"10.0.0.0\",\n  \"masque\": \"0.0.0.0\",\n  \"passerelle\": \"0.0.0.0\",\n  \"dns1\": \"198.101.100.34\",\n  \"dns2\": \"8.8.8.8\",\n  \"signataire\": \"Lauriane LEZIN\",\n  \"date_signature\": \"04/06/2025\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        624,
        448
      ],
      "id": "689d1a78-7e82-49a2-aba1-ed420ef36b23",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fcbf4a86-5231-45c5-b048-6a9908a5cb04",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "id": "e66fcde8-2a01-47ec-a945-a9b38414f38b",
      "name": "Webhook - PDF to MAIL OCR",
      "webhookId": "fcbf4a86-5231-45c5-b048-6a9908a5cb04"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "4c5c8a98-613d-480a-802c-2e146e6c301f",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - FTTH IMAGE OCR": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - PDF to MAIL OCR": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "caf777cb-a01b-4bc5-9d60-142dcd237898",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "EV09AFBywoEuXV5A",
  "tags": []
}
